<form *ngIf="lotDetailForm" [formGroup]="lotDetailForm" (ngSubmit)="onSubmit()">
  <div class="px-3 pb-3">
    <input
      type="hidden"
      id="TextBox_dmolotlotinforlotid"
      class="form-control"
      formControlName="DMOLot_LotInfo_LotID"
    />
    <div class="form-row py-0 vendor-buyer-section">
      <div class="col-md-6 vendor-section">
        <div class="form-row">
          <div class="col-md-6">
            <div class="form-row">
              <div class="col-md-4">
                <div class="mb-3">
                  <label class="input-label">Vendor ID *</label>
                  <input
                    type="text"
                    id="TextBox_dmolotvinfovendorid"
                    class="form-control"
                    [ngClass]="{'is-invalid': (submitted && f.DMOLot_VInfo_VendorId.errors) || ValidateVendorIdMessage === 'Vendor Id is not exist', 'IsBlockCustomer': BlockCustomer?.IsVendorBlock}"
                    formControlName="DMOLot_VInfo_VendorId"
                    [ngbTypeahead]="vendorIdSearch"
                    (selectItem)="selectVendor($event, 'dmocustmstrsapno')"
                   
                    #vendorId
                  />
                  <div *ngIf="submitted && f.DMOLot_VInfo_VendorId.errors?.required" class="invalid-feedback">This field is required</div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="mb-3">
                  <label class="input-label">Vendor Name *</label>
                  <input
                    type="text"
                    id="TextBox_dmolotvinfovendorname"
                    class="form-control"
                    [ngClass]="{'is-invalid': (submitted && f.DMOLot_VInfo_VendorNam.errors) || ValidateVendorNameMessage==='Vendor name is not exist', 'IsBlockCustomer': BlockCustomer?.IsVendorBlock }"
                    formControlName="DMOLot_VInfo_VendorNam"
                    [ngbTypeahead]="vendorNameSearch"
                    (selectItem)="selectVendor($event, 'dmocustmstrcustname1')"
                    #vendorName
                  />
                  <div *ngIf="submitted && f.DMOLot_VInfo_VendorNam.errors?.required" class="invalid-feedback">This field is required</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-row">
              <div class="col-md-5">
                <div class="mb-3">
                  <label class="input-label">Vendor Branch *</label>
                  <ng-select 
                    ngbTooltip="{{VendorBranchLabel}}"
                    *ngIf="isDdl"
                    [items]="vendorBranchOptions"
                    bindValue="ValueField"
                    bindLabel="TextField"
                    class="form-control"
                    [ngClass]="{'is-invalid': submitted && f.DMOLot_VInfo_VendorBrc.errors, 'IsBlockCustomer': BlockCustomer?.IsVendorBlock}"
                    id="DropDownList_dmolotvinfovendorbrc"
                    formControlName="DMOLot_VInfo_VendorBrc"
                  >
                    <ng-template ng-option-tmp let-item="item">
                      <div title="{{item.TextField}}">{{item.TextField}}</div>
                    </ng-template>
                    <ng-template ng-footer-tmp>
                      <a href="javascript:void(0)" class="footer-Add-New-Button" (click)="isDdl = false;">Add New</a>
                    </ng-template>
                  </ng-select>
                  <input
                      *ngIf="!isDdl"
                      type="text"
                      id="TextBox_dmolotvinfovendorbrc"
                      class="form-control"
                      formControlName="DMOLot_VInfo_VendorBrc"
                      [ngbTypeahead]="vendorBranchSearch"
                      [ngClass]="{'is-invalid': (submitted && f.DMOLot_VInfo_VendorBrc.errors)||ValidateVendorBranchMessage==='Vendor branch is not exist', 'IsBlockCustomer': BlockCustomer?.IsVendorBlock}"
                      [inputFormatter]="formatter"
                      [resultFormatter]="formatter"
                      (selectItem)="selectBranch($event, 'dmolotvinfovendorbrc')"
                  />
                  <div *ngIf="submitted && f.DMOLot_VInfo_VendorBrc.errors?.required" class="invalid-feedback">This field is required</div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  <label class="input-label">Vendor PIC</label>
                  <ng-select
                    ngbTooltip="{{f.DMOLot_VInfo_VendorPic.value}}"
                    [items]="vendorPICOptions"
                    [addTag]="addPICTagFn"
                    [selectOnTab]="true"
                    class="form-control uppercase"
                    [ngClass]="{'is-invalid': submitted && f.DMOLot_VInfo_VendorPic.errors}"
                    id="DropDownList_dmolotvinfovendorpic"
                    formControlName="DMOLot_VInfo_VendorPic"
                  >
                    <ng-template ng-option-tmp let-item="item">
                      <div title="{{item}}">{{item}}</div>
                    </ng-template>
                  </ng-select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="mb-3">
                  <label class="input-label">GST Reg</label>
                  <input
                    readonly
                    type="text"
                    id="DropDownList_dmolotvinfovendorgst"
                    class="form-control"
                    formControlName="DMOLot_VInfo_GstReg"
                    tabindex="-1"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="form-row">
              <div class="col-md-5 col-xl-4">
                <div class="mb-3">
                  <label class="input-label">Account Sale Reference</label>
                  <ng-template #dmoTipContentaccountsale><div [innerHTML]="'This will show on the Account Sale'"></div></ng-template>
                  <a class="dmo-tooltip" placement="bottom" [ngbTooltip]="dmoTipContentaccountsale" tooltipClass="tooltip-class">
                    <i class="far fa-question-circle"></i>
                  </a>
                  <input
                    type="text"
                    id="TextBox_dmolotvinfoacsaleref"
                    class="form-control"
                    formControlName="DMOLot_VInfo_AcSaleRef"
                  />
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-6 buyer-section">
        <div class="form-row">
          <div class="col-md-7">
            <div class="form-row">
              <div class="col-md-4">
                <div class="mb-3">
                  <label class="input-label">Buyer ID *</label>
                  <input
                    type="text"
                    id="TextBox_dmolotbinfobuyerid"
                    class="form-control"
                    [ngClass]="{'is-invalid': (submitted && f.DMOLot_BInfo_BuyerId.errors) ||ValidateBuyerIdMessage==='Buyer Id is not exist', 'IsBlockCustomer': BlockCustomer?.IsBuyerBlock}"
                    formControlName="DMOLot_BInfo_BuyerId"
                    [ngbTypeahead]="buyerIdSearch"
                    (selectItem)="selectBuyer($event, 'dmocustmstrsapno')"
                    #buyerId
                  />
                  <div *ngIf="submitted && f.DMOLot_BInfo_BuyerId.errors?.required" class="invalid-feedback">This field is required</div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="mb-3">
                  <label class="input-label">Buyer Name *</label>
                  <input
                    type="text"
                    id="TextBox_dmolotbinfobuyername"
                    class="form-control"
                    [ngClass]="{'is-invalid': (submitted && f.DMOLot_BInfo_BuyerName.errors)||ValidateBuyerNameMessage==='Buyer name is not exist', 'IsBlockCustomer': BlockCustomer?.IsBuyerBlock}"
                    formControlName="DMOLot_BInfo_BuyerName"
                    [ngbTypeahead]="buyerNameSearch"
                    (selectItem)="selectBuyer($event, 'dmocustmstrcustname1')"
                    #buyerName
                  />
                  <div *ngIf="submitted && f.DMOLot_BInfo_BuyerName.errors?.required" class="invalid-feedback">This field is required</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-row">
              <div class="col-md-6 col-xl-5">
                <div class="mb-3">
                  <label class="input-label">Buyer Branch *</label>
                  <ng-select
                    ngbTooltip="{{BuyerBranchLabel}}"
                    *ngIf="isDdlBuyer"
                    [items]="buyerBranchOptions"
                    bindValue="ValueField"
                    bindLabel="TextField"
                    class="form-control"
                    [ngClass]="{'is-invalid': submitted && f.DMOLot_BInfo_BuyerBrc.errors, 'IsBlockCustomer': BlockCustomer?.IsBuyerBlock}"
                    id="DropDownList_dmolotbinfobuyerbrc"
                    formControlName="DMOLot_BInfo_BuyerBrc"
                  >
                    <ng-template ng-option-tmp let-item="item">
                      <div title="{{item.TextField}}">{{item.TextField}}</div>
                    </ng-template>
                    <ng-template ng-footer-tmp>
                      <a href="javascript:void(0)" class="footer-Add-New-Button" (click)="isDdlBuyer = false;">Add New</a>
                    </ng-template>
                  </ng-select>
                  <input
                      *ngIf="!isDdlBuyer"
                      type="text"
                      id="DropDownList_dmolotbinfobuyerbrc"
                      formControlName="DMOLot_BInfo_BuyerBrc"
                      class="form-control"
                      [ngClass]="{'is-invalid': (submitted && f.DMOLot_BInfo_BuyerBrc.errors)||ValidateBuyerIdMessage==='Buyer branch is not exist', 'IsBlockCustomer': BlockCustomer.IsBuyerBlock}"
                      [ngbTypeahead]="branchSearch"
                      [inputFormatter]="formatter"
                      [resultFormatter]="formatter"
                      (selectItem)="selectBranch($event, 'dmolotbinfobuyerbrc')"
                  />
                  <div *ngIf="submitted && f.DMOLot_BInfo_BuyerBrc.errors?.required" class="invalid-feedback">This field is required</div>
                </div>
              </div>
              <div class="col-md-6 col-xl-5">
                <div class="mb-3">
                  <label class="input-label">Buyer PIC</label>
                  <ng-select
                    ngbTooltip="{{f.DMOLot_BInfo_BuyerPic.value}}"
                    [items]="buyerPICOptions"
                    [addTag]="addPICTagFn"
                    [selectOnTab]="true"
                    class="form-control uppercase"
                    [ngClass]="{'is-invalid': submitted && f.DMOLot_BInfo_BuyerPic.errors}"
                    id="DropDownList_dmolotbinfobuyerpic"
                    formControlName="DMOLot_BInfo_BuyerPic"
                  >
                    <ng-template ng-option-tmp let-item="item">
                      <div title="{{item}}">{{item}}</div>
                    </ng-template>
                  </ng-select>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-3">
              <label class="input-label">Invoice Reference</label>
              <ng-template #dmoTipContent><div [innerHTML]="'This will show on tax invoice'"></div></ng-template>
              <a class="dmo-tooltip" placement="bottom" [ngbTooltip]="dmoTipContent" tooltipClass="tooltip-class">
                <i class="far fa-question-circle"></i>
              </a>
              <input
                type="text"
                id="TextBox_dmolotbinfoinvoiceref"
                class="form-control"
                formControlName="DMOLot_BInfo_InvoiceRef"
              />
            </div>           
          </div>
          <div class="col-md-8">
            <div class="form-row">
              <div class="col-md-10 col-xl-9 d-flex align-items-end justify-content-end mb-3">
                  <label class="form-checkbox mr-2">
                    <input
                      type="checkbox"
                      id="CheckBox_dmolotbinfosetintbbreb"
                      formControlName="DMOLot_BInfo_SetIntBBReb"
                    />
                    <i class="skin"></i>
                    <span>Internal Buyer Branch Rebate</span> 
                  </label>
              </div>
              <div class="col-md-2">
                <div class="mb-3">
                  <label class="input-label">Rate</label>
                  <input
                    type="text"
                    id="TextBox_dmolotbinforate"
                    class="form-control"
                    formControlName="DMOLot_BInfo_Rate"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-header">Lot Information</div>
    <div class="form-row p-2 lot-info-section">
      <div class="col-md-6">
        <div class="form-row">
          <div class="col-md-3">
            <div class="form-group">
              <label class="input-label">Lot Number</label>
              <input
                type="text"
                id="TextBox_dmolotlotinfosalenum"
                class="form-control"
                formControlName="DMOLot_LotInfo_LotNum"
                (keypress)="ValidateAlphanumeric($event)"
              />
             <!-- <div *ngIf="submitted && f.DMOLot_LotInfo_LotNum.errors?.required" class="invalid-feedback">This field is required</div> -->
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="input-label">Quantity *</label>
              <input
                id="TextBox_dmolotlotinfoqnty"
                class="form-control"
                [ngClass]="{'is-invalid': submitted && f.DMOLot_LotInfo_Qnty.errors}"
                formControlName="DMOLot_LotInfo_Qnty"
                [value]="lotDetailForm.get('DMOLot_LotInfo_Qnty').value"
                appTwoDigitDecimaNumber
                (blur)="!isUnsoldLots && getQuantity($event)"
              />
              <div *ngIf="submitted && f.DMOLot_LotInfo_Qnty.errors?.required" class="invalid-feedback">This field is required</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="input-label">Product *</label>
              <input
                type="text"
                id="TextBox_dmolotlotinfoprod"
                class="form-control"
                [ngClass]="{'is-invalid': (submitted && f.DMOLot_LotInfo_Pdct.errors)||ValidateProductNameMessage==='Product name is not exist'}"
                formControlName="DMOLot_LotInfo_Pdct"
                [ngbTypeahead]="productSearch"
                (blur)="ValidateProduct($event);"
                (keyup)="ValidateProductOnKeyUp($event);"
                (selectItem)="setProductDescription($event)"
                #productName
              />
              <div *ngIf="submitted && f.DMOLot_LotInfo_Pdct.errors?.required" class="invalid-feedback">This field is required</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-row">
          <div class="col-md-8">
            <div class="form-group">
              <label class="input-label">Product Description *</label>
              <input
                type="text"
                id="TextBox_dmolotlotinfodesc"
                class="form-control"
                [ngClass]="{'is-invalid': (submitted && f.DMOLot_LotInfo_ProdDesc.errors)||ValidateProductDescriptionMessage==='Product description is not exist'}"
                formControlName="DMOLot_LotInfo_ProdDesc"
                maxlength="60"
                #productDescription
              />
              <div *ngIf="submitted && f.DMOLot_LotInfo_ProdDesc.errors?.required" class="invalid-feedback">This field is required</div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="input-label">Breed</label>
              <input
                type="text"
                id="TextBox_dmolotlotinfobrd"
                class="form-control"
                [ngClass]="{'is-invalid': (submitted && f.DMOLot_LotInfo_Brd.errors)||ValidateBreedMessage==='Breed name is not exist'}"
                formControlName="DMOLot_LotInfo_Brd"
                [ngbTypeahead]="breedSearch"
                #breedName
              />
              <div *ngIf="submitted && f.DMOLot_LotInfo_Brd.errors?.required" class="invalid-feedback">This field is required</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-row">
          <div class="col-md-3">
            <div class="form-group">
              <label class="input-label custom">
                <span>Price<ng-container *ngIf="price$ph">*</ng-container></span>
                <span>$/Head</span>
              </label>
              <input
                id="TextBox_dmolotlotinfopricephd"
                class="form-control"                
                formControlName="DMOLot_LotInfo_Price$PHd" 
                [value]="lotDetailForm.get('DMOLot_LotInfo_Price$PHd').value"
                appTwoDigitDecimaNumber
                (blur)="!isUnsoldLots && getPriceHead($event); fixedValue('DMOLot_LotInfo_Price$PHd');"
              />             
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="input-label custom">
                <span>Price<ng-container *ngIf="priceCKG">*</ng-container></span>
                <span>C/Kg</span>
              </label>
              <input
                id="TextBox_dmolotlotinfopricecpkg"
                class="form-control"
                ng-model="DMOLot_LotInfo_PriceCPKg | number : 4"
                formControlName="DMOLot_LotInfo_PriceCPKg"
                [value]="lotDetailForm.get('DMOLot_LotInfo_PriceCPKg').value"
                appFourDigitDecimaNumber
                (blur)="!isUnsoldLots && getPriceKg($event); fixedValue('DMOLot_LotInfo_PriceCPKg',4)"
                step="0.0001"
              />                           
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="input-label custom">
                <span>Weight</span>
                <span>Kg</span>
              </label>
              <input
                id="TextBox_dmolotlotinfowtkg"
                class="form-control"
                formControlName="DMOLot_LotInfo_WtKg"
                [value]="lotDetailForm.get('DMOLot_LotInfo_WtKg').value"
                appTwoDigitDecimaNumber
                (blur)="!isUnsoldLots && getWaightKg($event); fixedValue('DMOLot_LotInfo_WtKg')"                
              />
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="input-label custom">
                <span>Turnover*</span>
                <span>AUD</span>
              </label>
              <input
                id="TextBox_dmolotlotinfoturnovaud"
                class="form-control"
                [ngClass]="{'is-invalid': submitted && f.DMOLot_LotInfo_TurnovAUD.errors}"
                formControlName="DMOLot_LotInfo_TurnovAUD"
                [value]="lotDetailForm.get('DMOLot_LotInfo_TurnovAUD').value"
                appTwoDigitDecimaNumber
                (blur)="getturnover($event); fixedValue('DMOLot_LotInfo_TurnovAUD')"
				  (keypress)="accept_only_zero($event);"
              />
              <div *ngIf="submitted && f.DMOLot_LotInfo_TurnovAUD.errors?.required" class="invalid-feedback">This field is required</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-row">
          <div class="col-md-3">
            <div class="form-group">
              <label class="input-label">Sex</label>
              <ng-select
                [items]="['Male', 'Female']"
                class="form-control"
                id="DropDownList_dmolotlotinfosex"
                formControlName="DMOLot_LotInfo_Sex"
              >
              </ng-select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="input-label">Paint Mark</label>
              <input
                type="text"
                id="TextBox_dmolotlotinfopaintmk"
                class="form-control"
                formControlName="DMOLot_LotInfo_PaintMk"
              />
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="input-label">Contract ID</label>
              <input
                type="text"
                id="TextBox_dmolotlotinfocontractid"
                class="form-control"
                formControlName="DMOLot_LotInfo_ContractId"
                maxlength="10"
              />
            </div>
          </div>
          <div class="col-md-3 d-flex align-items-end">
            <div class="form-group">
              <label class="form-checkbox mr-2">
                <input
                  type="checkbox"
                  id="CheckBox_dmolotlotinfohgp"
                  formControlName="DMOLot_LotInfo_HGP"
                />
                <i class="skin"></i>
                <span>HGP</span> 
              </label>
            </div>
          </div>
          <div class="col-md-3" style="display: none;">
            <div class="form-group">
              <label class="input-label">GST</label>
              <input
                id="TextBox_dmolotlotinfogst"
                class="form-control"
                formControlName="DMOLot_LotInfo_GST"
                [value]="lotDetailForm.get('DMOLot_LotInfo_GST').value"
                appTwoDigitDecimaNumber
                (blur)="fixedValue('DMOLot_LotInfo_GST')"
              />
            </div>
          </div>
          <div class="col-md-3" style="display: none;">
            <div class="form-group">
              <label class="input-label">Turnover(incl GST)</label>
              <input
                id="TextBox_dmolotlotinfoturnovergs"
                class="form-control"
                formControlName="DMOLot_LotInfo_TurnoverGs"
                [value]="lotDetailForm.get('DMOLot_LotInfo_TurnoverGs').value"
                appTwoDigitDecimaNumber
                (blur)="fixedValue('DMOLot_LotInfo_TurnoverGs')"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-row">
          <div class="form-group d-flex align-items-center">
            <label class="form-checkbox mr-2">
              <input
                type="checkbox"
                id="CheckBox_dmolotlotinfotransclaim"
                formControlName="DMOLot_LotInfo_TransClaim"
              />
              <i class="skin"></i>
              <span>Transit Claim</span> 
            </label>
          </div>
          <ng-container *ngIf="f.DMOLot_LotInfo_TransClaim.value">
            <div class="form-group">
              <label class="input-label">Claimed By *</label>
              <ng-select
                [items]="['Vendor','Buyer']"
                class="form-control"
                [ngClass]="{'is-invalid': submitted && f.DMOLot_LotInfo_TrnsClmBy.errors}"
                id="DropDownList_dmolotlotinfotrnsclmby"
                formControlName="DMOLot_LotInfo_TrnsClmBy"
              >
              </ng-select>
              <div *ngIf="submitted && f.DMOLot_LotInfo_TrnsClmBy.errors?.required" class="invalid-feedback">This field is required</div>
            </div>
            <div class="form-group">
              <label class="input-label">Quantity *</label>
              <input
                type="number"
                id="TextBox_dmolotlotinfotrnsclmqnt"
                class="form-control"
                [ngClass]="{'is-invalid': submitted && f.DMOLot_LotInfo_TrnsClmQnt.errors}"
                formControlName="DMOLot_LotInfo_TrnsClmQnt"
              />
              <div *ngIf="submitted && f.DMOLot_LotInfo_TrnsClmQnt.errors?.required" class="invalid-feedback">This field is required</div>
            </div>
            <div class="form-group">
              <label class="input-label">Value *</label>
              <input
                type="text"
                id="TextBox_dmolotlotinfotrnsclmval"
                class="form-control"
                [ngClass]="{'is-invalid': submitted && f.DMOLot_LotInfo_TrnsClmVal.errors}"
                formControlName="DMOLot_LotInfo_TrnsClmVal"
                appTwoDigitDecimaNumber
              />
              <div *ngIf="submitted && f.DMOLot_LotInfo_TrnsClmVal.errors?.required" class="invalid-feedback">This field is required</div>
            </div>
            <div class="form-group">
              <label class="input-label">Reason *</label>
              <input
                type="text"
                id="TextBox_dmolotlotinfotrnsclmrsn"
                class="form-control"
                [ngClass]="{'is-invalid': submitted && f.DMOLot_LotInfo_TrnsClmRsn.errors}"
                formControlName="DMOLot_LotInfo_TrnsClmRsn"
              />
              <div *ngIf="submitted && f.DMOLot_LotInfo_TrnsClmRsn.errors?.required" class="invalid-feedback">This field is required</div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="section-header">
      <span>Lot Fees and Charges</span>
      <!-- <button class="btn calc-btn" type="button" (click)="calcLotFeesCharges()" [disabled]="isReversal || isFinalised">Calculate</button> -->
    </div>
    <div class="form-row p-2">
      <app-lot-fees-charges (calcLotFeesChargesManual)="calcLotFeesChargesManual($event)" [stage]="stage" [ChargedTo]="ChargedTo"></app-lot-fees-charges>
    </div>
  
    <div class="d-flex align-items-center justify-content-end my-3">
      <button type="button" class="btn btn-primary cancel-btn" (click)="goBack()">Cancel</button>
      <ng-container *ngFor="let objTrig of triggers">
        <ng-container *ngIf="objTrig.Type=='Action'">
          <button type="submit" [hidden]="!isTriggerVisible(objTrig)" [disabled]="isFinalised"
            class="btn btn-primary mr-2 submit-btn">Save Changes</button>
        </ng-container>
      </ng-container>
    </div>
  </div>
</form>
  
