<div id="livestock-search">
    <div *ngIf="!isEmptyObject(filters)" class="pt-2 px-3">
        <div class="tags-list">
            <div class="tags-list-label">Selected Filter(s) :</div>
            <ul>
                <ng-container *ngFor="let item of filters | keyvalue">
                    <li *ngIf="item.key.indexOf('Advnaced_Filter') === -1">
                        <span>{{this.FilterList(item.value.GridConditions)}}</span>
                        <a href="javascript:void(0);" class="icon-close" (click)="onFilterClear(item.value.DataField, item.value.FilterType)"><i class="fas fa-times"></i></a>
                    </li>
                    <li *ngIf="item.key.indexOf('Advnaced_Filter') > -1">
                        <span>{{this.FilterList(item.value.GridConditions)}}</span>
                        <a href="javascript:void(0);" class="icon-close" (click)="onAdvancedFilterClear(item.key)"><i class="fas fa-times"></i></a>
                    </li>
                </ng-container>
            </ul>
        </div>
        <a href="javascript:void(0)" title="Clear All" style="font-size: 14px;" (click)="clear_all()">Clear All</a>
    </div>
    <div class="container pt-5">
        <div class="row">
            <div class="col-12 sales-search" [ngClass]="{'margin-top-20': !isSearched}">
                <div class="sales-search-box">
                    <div class="selectListing">
                        <div ngbDropdown>
                        <button class="btn btn-outline-primary" ngbDropdownToggle id="categorySelector">{{selectedCategory}}</button>
                            <ul ngbDropdownMenu aria-labelledby="categorySelector">
                                <li ngbDropdownItem (click)="categorySelect('Livestock Document')">
                                    Livestock Document
                                </li>
                                <li ngbDropdownItem (click)="categorySelect('Account')">
                                    Account
                                </li>
                                <li ngbDropdownItem (click)="categorySelect('Agent')">
                                    Agent
                                </li>
                               
                            </ul>
                        </div>
                    </div>
                    <input type="text" class="form-control sales-search-box-input shadow-none" [(ngModel)]="globalSearchValue">
                    <button class="btn btn-warning sales-search-box-btn" (click)="search()">
                        <i class="fas fa-search"></i>
                    </button>
                </div> 
                <div class="toggle-search-inputs">
                    <a href="javascript:void(0)" title="Hide Advanced Search" (click)="toggle_search_form_show()">{{showSearchForm ? 'Hide' : ''}} Advanced Search</a>
                </div>
            </div>
            <div class="col-12">
                <form [formGroup]="searchForm" class="search-input-form" *ngIf="showSearchForm">
                    <ng-container *ngIf="selectedCategory === 'Agent'">
                        <div class="form-row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="input-label">SAP# or Agency Name</label>
                                    <ng-select
                                        [items]="agencyOptions"
                                        bindValue="dmoagencyagncsapno"
                                        class="form-control"
                                        id="DropDownList_agency"
                                        formControlName="SAPNo"
                                        [searchFn]="agencySearchFn"
                                        (change)="restAgentDDL($event)"
                                    >
                                        <ng-template ng-label-tmp let-item="item">
                                            {{item.dmoagencyagncname1}} ({{item.dmoagencyagncsapno}})
                                        </ng-template>
                                        <ng-template ng-option-tmp let-item="item" >
                                            {{item.dmoagencyagncname1}} ({{item.dmoagencyagncsapno}})
                                        </ng-template>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="input-label">Agent</label>
                                    <ng-select
                                        [items]="agentOptions"
                                        bindValue="dmoagentagntname"
                                        bindLabel="dmoagentagntname"
                                        class="form-control"
                                        id="DropDownList_agent"
                                        formControlName="Agents"
                                    >
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="input-label">Activity</label>
                                    <ng-select
                                        [items]="activityOptions"
                                        [multiple]="true"
                                        class="form-control"
                                        id="DropDownList_activity"
                                        formControlName="Activity"
                                    >
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="selectedCategory === 'Account'">
                        <div class="form-row">
                            <!-- <div class="col-md-3">
                                <div class="form-group">
                                    <label class="input-label">SAP Number</label>
                                    <input
                                        type="number"
                                        class="form-control"
                                        formControlName="SAPNO"
                                        [ngbTypeahead]="sapNoSearch"
                                    />
                                </div>
                            </div> -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="input-label">SAP# or Trading Name</label>
                                    <input
                                        type="text"
                                        id="TextBox_tradingname"
                                        class="form-control"
                                        formControlName="dmocustmstrsapno"
                                        [ngbTypeahead]="tradingNameSearch"
                                        [inputFormatter]="formatter"
                                        [resultFormatter]="formatter"
                                    />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="input-label">PRMS#</label>
                                    <input 
                                        type="text" 
                                        id="Textbox_prms" 
                                        class="form-control" 
                                        formControlName="dmocustmstrprmsref"
                                        [ngbTypeahead]="prmsSearch"
                                    >
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="input-label">ABN</label>
                                    <input 
                                        type="text" 
                                        id="Textbox_abn" 
                                        class="form-control" 
                                        formControlName="dmocustmstrcustabn"
                                        [ngbTypeahead]="abnSearch"
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="input-label">Livestock Branch Name</label>
                                    <ng-select
                                        [items]="branchNameOptions"
                                        bindValue="dmobranchbrcode"
                                        bindLabel="dmobranchbrname"
                                        class="form-control"
                                        id="DropDownList_livestockbranchname"
                                        formControlName="dmocustmstrlstkbranch"
                                        [searchFn]="branchNameSearchFn"
                                    >
                                        <ng-template ng-label-tmp let-item="item">
                                            {{item.dmobranchbrname}} ({{item.dmobranchbrcode}})
                                        </ng-template>
                                        <ng-template ng-option-tmp let-item="item" >
                                            {{item.dmobranchbrname}} ({{item.dmobranchbrcode}})
                                        </ng-template>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="input-label">State</label>
                                    <ng-select
                                        [items]="stateOptions"
                                        bindValue="dmolcnlcnstate"
                                        bindLabel="dmolcnlcnstate"
                                        class="form-control"
                                        id="DropDownList_stateName"
                                        formControlName="dmocustmstraddrstate"
                                        [searchFn]="stateSearchFn"
                                        (change)="resetPostCodeDDL($event)"
                                    >
                                        <ng-template ng-label-tmp let-item="item">
                                            {{item.dmolcnlcnstate}}
                                        </ng-template>
                                        <ng-template ng-option-tmp let-item="item" >
                                            {{item.dmolcnlcnstate}}
                                        </ng-template>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="input-label">Post Code</label>
                                    <input 
                                        type="text" 
                                        id="Textbox_postcode" 
                                        class="form-control" 
                                        formControlName="dmocustmstraddrzip"
                                        [ngbTypeahead]="postCodeSearch"
                                        (ngModelChange)="resetSuburbDDL($event)"
                                    >
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="input-label">Suburb</label>
                                    <input 
                                        type="text" 
                                        id="Textbox_suburb" 
                                        class="form-control" 
                                        formControlName="dmocustmstraddrcity"
                                        [ngbTypeahead]="suburbSearch"
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="input-label">Email</label>
                                    <input type="email" id="Textbox_email" class="form-control" formControlName="dmocustmstremail">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="input-label">Mobile Phone No</label>
                                    <input type="text" id="Textbox_mobilenumber" class="form-control" formControlName="dmocustmstrmobile">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="input-label">PIC #</label>
                                    <input type="text" id="Textbox_pic" class="form-control" formControlName="dmocuspiccustpic">
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <!-- // Add new Form Livestock Documents Ticket - #1002 -->
                    <ng-container *ngIf="selectedCategory === 'Livestock Document'">
                        <div class="form-row">
                            <div class="col-md-3">
                                <label class="input-label">From Date</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-sm btn-outline-secondary" (click)="d1.toggle()" type="button">
                                            <i class="far fa-calendar-alt" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <input
                                        type="text"
                                        id="TextBox_saleDocumentfromdate"
                                        class="form-control"
                                        ngbDatepicker
                                        #d1="ngbDatepicker"
                                        formControlName="SALEDOCUMENTFROMDATE"
                                        placeholder="dd/mm/yyyy"
                                        (keyup)="dateMasks($event)"
                                    />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="input-label">To Date</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-sm btn-outline-secondary" (click)="d2.toggle()" type="button">
                                            <i class="far fa-calendar-alt" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <input
                                        type="text"
                                        id="TextBox_saleDocumenttodate"
                                        class="form-control"
                                        ngbDatepicker
                                        #d2="ngbDatepicker"
                                        formControlName="SALEDOCUMENTTODATE"
                                        placeholder="dd/mm/yyyy"
                                        (keyup)="dateMasks($event)"
                                    />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="input-label">Trading Name</label>
                                    <input
                                        type="text"
                                        id="TextBox_Tradingname"
                                        class="form-control"
                                        formControlName="TRADINGNAME"
                                        [ngbTypeahead]="tradingNameSearch"
                                        [inputFormatter]="formatter"
                                        [resultFormatter]="formatter"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="input-label">SAP#</label>
                                    <input
                                        type="text"
                                        id="TextBox_sapno"
                                        class="form-control"
                                        formControlName="CustomerID"
                                        [ngbTypeahead]="sapNoSearch"
                                    />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="input-label">ABN</label>
                                    <input
                                        type="text"
                                        id="TextBox_docabnno"
                                        class="form-control"
                                        formControlName="dmocustmstrcustabn"
                                        [ngbTypeahead]="abnSearch"
                                    />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="input-label">Sale#</label>
                                    <input
                                        type="text"
                                        id="TextBox_docsaleno"
                                        class="form-control"
                                        formControlName="dmocrmheaderinfsaleid"
                                        [ngbTypeahead]="saleNoSearch"
                                    />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="input-label">Branch</label>
                                    <ng-select
                                        [items]="documentBranchOptions"
                                        bindValue="dmobranchbrcode"
                                        bindLabel="dmobranchbrname"
                                        class="form-control"
                                        id="DropDownList_documentbranch"
                                        formControlName="dmocrmheaderinfcndbrnc"
                                        [searchFn]="docBranchNameSearchFn"
                                    >
                                        <ng-template ng-label-tmp let-item="item">
                                            {{item.dmobranchbrname}} ({{item.dmobranchbrcode}})
                                        </ng-template>
                                        <ng-template ng-option-tmp let-item="item" >
                                            {{item.dmobranchbrname}} ({{item.dmobranchbrcode}})
                                        </ng-template>
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="input-label">Transaction Type</label>
                                    <ng-select
                                        [items]="documentTransactionTypeOptions"
                                        bindValue="dmotrnstyptranstypecode"
                                        bindLabel="dmotrnstyptranstypedscr"
                                        class="form-control"
                                        id="DropDownList_documenttransactiontype"
                                        formControlName="dmocrmheaderinftrantype"
                                        [searchFn]="transactionTypeSearchFn"
                                    >
                                    <ng-template ng-label-tmp let-item="item">
                                        {{item.dmotrnstyptranstypedscr}} ({{item.dmotrnstyptranstypecode}})
                                    </ng-template>
                                    <ng-template ng-option-tmp let-item="item" >
                                        {{item.dmotrnstyptranstypedscr}} ({{item.dmotrnstyptranstypecode}})
                                    </ng-template>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="input-label">Document#</label>
                                    <input
                                        type="text"
                                        id="TextBox_docdocumentno"
                                        class="form-control"
                                        formControlName="DOCUMENTNUMBER"
                                        [ngbTypeahead]="docNoSearch"
                                    />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="input-label">Document Type</label>
                                    <ng-select
                                        [items]="documenttypeOptions"
                                        bindValue="DocumentType"
                                        bindLabel="DocumentType"
                                        class="form-control"
                                        id="DropDownList_documenttype"
                                        formControlName="DOCUMENTTYPE"
                                        [searchFn]="documentTypeSearchFn"
                                    >
                                        <ng-template ng-label-tmp let-item="item">
                                            {{item.DocumentType}}
                                        </ng-template>
                                        <ng-template ng-option-tmp let-item="item" >
                                            {{item.DocumentType}}
                                        </ng-template>
                                    </ng-select>
                                </div>
                            </div>
                        </div>

                    </ng-container>
                    <!-- <ng-container *ngIf="selectedCategory === 'Livestock Sales'">
                        <div class="form-row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="input-label">Transaction Type</label>
                                    <ng-select
                                        [items]="transactionTypeOptions"
                                        bindValue="dmotrnstyptranstypecode"
                                        bindLabel="dmotrnstyptranstypedscr"
                                        class="form-control"
                                        id="DropDownList_transactiontype"
                                        formControlName="TRANNSCTIONTYPE"
                                        [searchFn]="transactionTypeSearchFn"
                                    >
                                        <ng-template ng-label-tmp let-item="item">
                                            {{item.dmotrnstyptranstypedscr}} ({{item.dmotrnstyptranstypecode}})
                                        </ng-template>
                                        <ng-template ng-option-tmp let-item="item" >
                                            {{item.dmotrnstyptranstypedscr}} ({{item.dmotrnstyptranstypecode}})
                                        </ng-template>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="input-label">Sale Type</label>
                                    <ng-select
                                        [items]="saleTypeOptions"
                                        bindValue="dmosaletypesaletypecode"
                                        bindLabel="dmosaletypesaletypedscr"
                                        class="form-control"
                                        id="DropDownList_saletype"
                                        formControlName="SALETYPE"
                                        [searchFn]="saleTypeSearchFn"
                                    >
                                        <ng-template ng-label-tmp let-item="item">
                                            {{item.dmosaletypesaletypedscr}} ({{item.dmosaletypesaletypecode}})
                                        </ng-template>
                                        <ng-template ng-option-tmp let-item="item" >
                                            {{item.dmosaletypesaletypedscr}} ({{item.dmosaletypesaletypecode}})
                                        </ng-template>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="input-label">Sale Processor</label>
                                    <input type="text" id="Textbox_saleprocessor" class="form-control" formControlName="SALEPROCESSOR">
                                </div>
                            </div> 
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="input-label">Sale Processor</label>
                                    <ng-select
                                        [items]="saleprocessorOptions"
                                        bindValue="UserName"
                                        bindLabel="Name"
                                        class="form-control"
                                        id="DropDownList_saleprocessor"
                                        formControlName="SALEPROCESSOR"
                                        [searchFn]="saleprocessorSearchFn"
                                    >
                                        <ng-template ng-label-tmp let-item="item">
                                            {{item.Name}} ({{item.UserName}})
                                        </ng-template>
                                        <ng-template ng-option-tmp let-item="item" >
                                            {{item.Name}} ({{item.UserName}})
                                        </ng-template>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="input-label">Conducting Branch</label>
                                    <ng-select
                                        [items]="conductingBranchOptions"
                                        bindValue="dmobranchbrcode"
                                        bindLabel="dmobranchbrname"
                                        class="form-control"
                                        id="DropDownList_conductingbranch"
                                        formControlName="CONDUCTINGBRANCH"
                                        [searchFn]="branchNameSearchFn"
                                    >
                                        <ng-template ng-label-tmp let-item="item">
                                            {{item.dmobranchbrname}} ({{item.dmobranchbrcode}})
                                        </ng-template>
                                        <ng-template ng-option-tmp let-item="item" >
                                            {{item.dmobranchbrname}} ({{item.dmobranchbrcode}})
                                        </ng-template>
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="input-label">Stage</label>
                                    <ng-select
                                        [items]="stageOptions"
                                        [multiple]="true"
                                        class="form-control"
                                        id="DropDownList_stage"
                                        formControlName="STAGE"
                                    >
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="input-label">Sale Yard</label>
                                    <ng-select
                                        [items]="saleyardOptions"
                                        bindValue="dmosaleyardsycode"
                                        bindLabel="dmosaleyardsyname"
                                        class="form-control"
                                        id="DropDownList_saleyard"
                                        formControlName="SALEYARD"
                                        [searchFn]="SaleYardNameSearchFn"
                                    >
                                    <ng-template ng-label-tmp let-item="item">
                                        {{item.dmosaleyardsyname}} ({{item.dmosaleyardsycode}})
                                    </ng-template>
                                    <ng-template ng-option-tmp let-item="item" >
                                        {{item.dmosaleyardsyname}} ({{item.dmosaleyardsycode}})
                                    </ng-template>
                                    </ng-select>
                                </div>
                            </div>
                            
                             <div class="col-md-3">
                                <div class="form-group">
                                    <label class="input-label">Vendor Trading Name</label>
                                    <ng-select
                                        [items]="vendorTradingNameOptions"
                                        bindValue="dmocustmstrsapno"
                                        bindLabel="dmocustmstrcustname1"
                                        class="form-control"
                                        id="DropDownList_vendortrdname"
                                        formControlName="VENDORTRDNAME"
                                    >
                                        <ng-template ng-label-tmp let-item="item">
                                            {{item.dmocustmstrcustname1}} ({{item.dmocustmstrsapno}})
                                        </ng-template>
                                        <ng-template ng-option-tmp let-item="item" >
                                            {{item.dmocustmstrcustname1}} ({{item.dmocustmstrsapno}})
                                        </ng-template>
                                    </ng-select>
                                </div>
                            </div> 
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="input-label">Vendor Trading Name</label>
                                    <input
                                        type="text"
                                        id="TextBox_VENDORSAPNO"
                                        class="form-control"
                                        formControlName="VENDORSAPNO"
                                        [ngbTypeahead]="vendortrdnameSearch"
                                        [inputFormatter]="formatter"
                                        [resultFormatter]="formatter"
                                    />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="input-label">Buyer Trading Name</label>
                                    <input
                                        type="text"
                                        id="TextBox_BUYERSAPNO"
                                        class="form-control"
                                        formControlName="BUYERSAPNO"
                                        [ngbTypeahead]="buyertrdnameSearch"
                                        [inputFormatter]="formatter"
                                        [resultFormatter]="formatter"
                                    />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="input-label">Buyer Trading Name</label>
                                    <ng-select
                                        [items]="buyerTradingNameOptions"
                                        bindValue="dmocustmstrsapno"
                                        bindLabel="dmocustmstrcustname1"
                                        class="form-control"
                                        id="DropDownList_buyertrdname"
                                        formControlName="BUYERTRDNAME"
                                    >
                                        <ng-template ng-label-tmp let-item="item">
                                            {{item.dmocustmstrcustname1}} ({{item.dmocustmstrsapno}})
                                        </ng-template>
                                        <ng-template ng-option-tmp let-item="item" >
                                            {{item.dmocustmstrcustname1}} ({{item.dmocustmstrsapno}})
                                        </ng-template>
                                    </ng-select>
                                </div>
                            </div>
                            
                        </div>
                        <div class="form-row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="input-label">Third-Party</label>
                                    <ng-select
                                        [items]="thirdPartyOptions"
                                        bindValue="dmocustmstrsapno"
                                        bindLabel="dmocustmstrcustname1"
                                        class="form-control"
                                        id="DropDownList_3rdparty"
                                        formControlName="3RDPARTY"
                                    >
                                        <ng-template ng-label-tmp let-item="item">
                                            {{item.dmocustmstrcustname1}} ({{item.dmocustmstrsapno}})
                                        </ng-template>
                                        <ng-template ng-option-tmp let-item="item" >
                                            {{item.dmocustmstrcustname1}} ({{item.dmocustmstrsapno}})
                                        </ng-template>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="input-label">Vendor Branch</label>
                                    <ng-select
                                        [items]="vendorBranchOptions"
                                        bindValue="dmobranchbrcode"
                                        bindLabel="dmobranchbrname"
                                        class="form-control"
                                        id="DropDownList_vendorbranch"
                                        formControlName="VENDORBRANCH"
                                        [searchFn]="branchNameSearchFn"
                                    >
                                        <ng-template ng-label-tmp let-item="item">
                                            {{item.dmobranchbrname}} ({{item.dmobranchbrcode}})
                                        </ng-template>
                                        <ng-template ng-option-tmp let-item="item" >
                                            {{item.dmobranchbrname}} ({{item.dmobranchbrcode}})
                                        </ng-template>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="input-label">Buyer Branch</label>
                                    <ng-select
                                        [items]="buyerBranchOptions"
                                        bindValue="dmobranchbrcode"
                                        bindLabel="dmobranchbrname"
                                        class="form-control"
                                        id="DropDownList_buyerbranch"
                                        formControlName="BUYERBRANCH"
                                        [searchFn]="branchNameSearchFn"
                                    >
                                        <ng-template ng-label-tmp let-item="item">
                                            {{item.dmobranchbrname}} ({{item.dmobranchbrcode}})
                                        </ng-template>
                                        <ng-template ng-option-tmp let-item="item" >
                                            {{item.dmobranchbrname}} ({{item.dmobranchbrcode}})
                                        </ng-template>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="input-label">Agency</label>
                                    <ng-select
                                        [items]="agencyOptions"
                                        bindValue="dmoagencyagncsapno"
                                        class="form-control"
                                        id="DropDownList_agency1"
                                        formControlName="AGENCY"
                                        [searchFn]="agencySearchFn"
                                    >
                                        <ng-template ng-label-tmp let-item="item">
                                            {{item.dmoagencyagncname1}} ({{item.dmoagencyagncsapno}})
                                        </ng-template>
                                        <ng-template ng-option-tmp let-item="item" >
                                            {{item.dmoagencyagncname1}} ({{item.dmoagencyagncsapno}})
                                        </ng-template>
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="input-label">Agent</label>
                                    <ng-select
                                        [items]="agentOptions"
                                        bindValue="dmoagentagntid"
                                        class="form-control"
                                        id="DropDownList_agent1"
                                        formControlName="AGENT"
                                        [searchFn]="agenctSearchFn"
                                    >
                                        <ng-template ng-label-tmp let-item="item">
                                            {{item.dmoagentagntname}} ({{item.dmoagentagntid}})
                                        </ng-template>
                                        <ng-template ng-option-tmp let-item="item" >
                                            {{item.dmoagentagntname}} ({{item.dmoagentagntid}})
                                        </ng-template>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="input-label">From Date</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-sm btn-outline-secondary" (click)="d1.toggle()" type="button">
                                            <i class="far fa-calendar-alt" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <input
                                        type="text"
                                        id="TextBox_salefromdate"
                                        class="form-control"
                                        ngbDatepicker
                                        #d1="ngbDatepicker"
                                        formControlName="SALEFROMDATE"
                                    />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="input-label">To Date</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-sm btn-outline-secondary" (click)="d2.toggle()" type="button">
                                            <i class="far fa-calendar-alt" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <input
                                        type="text"
                                        id="TextBox_saletodate"
                                        class="form-control"
                                        ngbDatepicker
                                        #d2="ngbDatepicker"
                                        formControlName="SALETODATE"
                                    />
                                </div>
                            </div>
                        </div>
                    </ng-container> -->
                </form>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="search-results" *ngIf="isSearched">
                    <div class="table-filters-group">
                        <div class="export-btns-group">
                            <a href="javascript:void(0)" title="Excel" (click)="getExcelData()"><i class="far fa-file-excel"></i>Excel</a>
                        </div>
                    </div>
                    <app-customized-grid
                        [dataSource]="dataSource"
                        [headerMap]="headerMap"
                        [itemsCount]="itemsCount"
                        [pageIndex]="pageIndex"
                        [sNo]="false"
                        (pageChange)="pageChange($event)"
                        (actionClick)="actionClick($event)"
                    ></app-customized-grid>
                </div>
            </div>
        </div>
    </div>
</div>
