<div class="modal-header">
    <button type="button" class="close" aria-label="Close" style="font-size: 20px;" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
<ng-container *ngIf="isSubprocess==false">
</ng-container>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="corner-detail row">
        <ng-container *ngFor="let item of topCornerDetails">
          <div class="corner-detail-item col">
            <span class="corner-detail-item-label">{{item.DisplayName}}</span>
            <!-- //MD Changes - #445 & CRM #961 -->
            <!-- <span class="corner-detail-item-value">{{item.Value}}</span> -->
            <span class="corner-detail-item-value">
              <ng-container *ngIf="!isDate(item.Value); else showDate">
                {{item.Value}}
              </ng-container>
              <ng-template #showDate>{{getUserLocalDate(item)}}</ng-template>
            </span>
            <!-- //MD Changes - #445 & CRM #961 - END -->
          </div>
        </ng-container>
        <div *ngIf="applicationData.ApplicationInfo" class="corner-detail-item col">
          <span class="corner-detail-item-label">Stage</span>
          <span class="corner-detail-item-value">{{applicationData.ApplicationInfo[0]?.StageFriendlyName}}</span>
        </div>
        <div *ngIf="applicationData.ApplicationInfo" class="corner-detail-item col">
          <span class="corner-detail-item-label">State</span>
          <span class="corner-detail-item-value">{{applicationData.ApplicationInfo[0]?.StateFriendlyName}}</span>
        </div>
      </div>
      <div class="mt-2">
        <form *ngIf="form" [formGroup]="form">
          <app-tabs>
              <app-tab [trnsctnId]="transactionId" *ngFor="let bmoGuid of BMJSON.List"
                [title]="BMJSON.BusinessModelObjects[bmoGuid].DisplayName"
                [bmodisplay]="bmogCondJson[bmoGuid] == null ? true :bmogCondJson[bmoGuid].IsVisible==true?true:false">
                <ng-container *ngIf="bmogCondJson[bmoGuid].IsVisible">
                  <div *ngIf="BMJSON.BusinessModelObjects[bmoGuid] as objBMO" id='{{"div"+bmoGuid}}'>
                    <ng-container *ngIf="objBMO.Type =='Documents' ; then documentView;">
                    </ng-container>
                    <ng-container *ngIf="objBMO.Type =='SubProcess' ; then subprocessView;">
                    </ng-container>
                    <ng-container *ngIf="objBMO.Type =='ChildProcess' ; then childprocessView;">
                    </ng-container>
                    <ng-container *ngIf="objBMO.Type =='Log' ; then logView; else formView;">
                    </ng-container>
                    <ng-template #formView>
                      <div *ngFor="let dmogGuid of objBMO.List" id='{{"DmgTable"+dmogGuid}}'
                        [hidden]="!bmogCondJson[bmoGuid][dmogGuid].IsVisible" class="p-3">
                        <app-accordion *ngIf="objBMO.DataModelObjectGroups[dmogGuid] as objDMOG">
                          <app-accordion-item [isOpen]="objDMOG.DefaultCollapsed == 0">
                            <div class="accordion-item-header">
                              {{objDMOG.DisplayName}}
                              <ng-template #dmogTipContent>
                                <div [innerHTML]="objDMOG.LongDescription"></div>
                              </ng-template>
                              <a *ngIf="objDMOG.IsTooltip" class="dmog-tooltip" placement="bottom"
                                [ngbTooltip]="dmogTipContent" tooltipClass="tooltip-class">
                                <i class="far fa-question-circle"></i>
                              </a>
                            </div>
                            <div class="accordion-item-content">
                              <div id='{{dmogGuid}}' class="drow" *ngIf="bmogCondJson[bmoGuid][dmogGuid].IsVisible">
                                <ng-container *ngFor="let rowID of objDMOG.List">
                                  <ng-container *ngIf="objDMOG.Rows[rowID] as objROW">

                                    <ng-container *ngFor="let objCOLUMN of objROW.Columns">
                                      <ng-container *ngFor="let dmoGUID of objCOLUMN.List">
                                        <div class="dcolumns" *ngIf="bmogCondJson[bmoGuid][dmogGuid][dmoGUID].IsVisible">
                                          <ng-container *ngIf="objCOLUMN.DataModelObjects[dmoGUID] as objectDMO">
                                            <app-dmo *ngIf="objectDMO"
                                              [fileList]="getDMOFileData(objectDMO)" [dmo]="objectDMO"
                                              [transactionID]="transactionId" [tempTransactionID]="tempTransactionID"
                                              [dmoGUID]="dmoGUID" [bmoGUID]="bmoGuid" [dmogGUID]="dmogGuid"
                                              [parentForm]="form" [submitted]="formSubmitted"
                                              [triggered]="formTriggered" [bmogCondJson]="bmogCondJson"
                                              [currentStageGuid]="currentStageGuid"
                                              [currentStateGuid]="currentStateGuid" [BMId]="BMId"></app-dmo>
                                          </ng-container>
                                        </div>
                                      </ng-container>
                                    </ng-container>

                                  </ng-container>
                                </ng-container>
                              </div>
                            </div>
                          </app-accordion-item>
                        </app-accordion>
                      </div>
                    </ng-template>

                </div>
              </ng-container>
              <ng-template #subprocessView>
                  <div class="p-3">
                    <app-grid-view [Config]="{
                    ProcessName: BMJSON.BusinessModelObjects[bmoGuid].ProcessName,
                    GridGuid:'MCompContainer',
                    PageNumber:'0',
                    TimeZone:'330',
                    IsSubProcess:true,
                    ParentTransactionId:transactionId
                  }">
                    </app-grid-view>
                    </div>
                </ng-template>
                <ng-template #childprocessView>
                  <div class="p-3">
                    <app-grid-view [Config]="{
                    ProcessName: BMJSON.BusinessModelObjects[bmoGuid].ProcessName,
                    GridGuid:'MCompContainer',
                    PageNumber:'0',
                    TimeZone:'330',
                    IsSubProcess:true,
                    ParentDmoValue:ParentDmoValue
                  }">
                    </app-grid-view>
                    </div>
                </ng-template>
              <ng-template #logView>
                <ng-container *ngIf='bmoGuid !== "notes"'>
                  <app-log-view-model [bmoGuid]="bmoGuid" [trnsctnId]="transactionId"></app-log-view-model>
                </ng-container>
                <ng-container *ngIf='bmoGuid == "notes"'>
                  <app-notes [transactionId]="transactionId"></app-notes>
                </ng-container>
              </ng-template>
              <ng-template #documentView>
                <app-document-view></app-document-view>
              </ng-template>
              <ng-container *ngIf=" ['notes','notification','activitylog','history'].includes(bmoGuid) === false">
                <div class="d-flex align-items-center justify-content-end mb-4 mt-3 mx-3" *ngIf="triggers">
                  <ng-container *ngFor="let objTrig of triggers">
                    <ng-container *ngIf="objTrig.Type=='Action'">
                      <ng-container>
                          <button
                            type="button"
                            class="btn btn-primary mr-2"
                            [hidden]="!isTriggerVisible(objTrig)"
                            [disabled]="!isTriggerEnable(objTrig)"
                            (click)="checkSubProcessRecord(objTrig)"
                          >
                            {{objTrig.DisplayName}}
                          </button>
                      </ng-container>
                      
                    </ng-container>
                  </ng-container>
                </div>  
              </ng-container>
            </app-tab>
          </app-tabs>
        </form>
      </div>
    </div>
  </div>
</div>
</div>