#app-grid-view-page {
    padding: 16px;
}
.dmoFilterTextBox {
    height: 24px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 300;
    line-height: 10px;
  }
  .dmoFormGroup {
    margin-left: 10px; 
    margin-right: 10px;
  }
  .dmoPopup {
    max-height: 400px; overflow-y: auto;
  }