.submit-btn {
    font-size: 12px;
    letter-spacing: 0.35px;
    line-height: 17px;
    text-align: center;
    width: 150px;
    height: 35px;
}

.cancel-btn {
    font-size: 12px;
    letter-spacing: 0.35px;
    line-height: 17px;
    text-align: center;
    width: 150px;
    height: 35px;
    margin-right: 32px;
    background: white;
    color: #4C9E00;
}

.form-control {
    height: 24px;
    border-radius: 3px;
    font-size: 12px;
}

.input-label {
    color: #4D4D51;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.add-btn {
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 11px;
    letter-spacing: 0.3px;
    line-height: 4px;
    text-align: center;
    width: 100px;
    height: 20px;
    background-color: #226398;
}
.share-btn {
    margin-top: 30px;
    height: 25px;
    border-radius: 5px;
    background-color: #4C9E00;
    color: white;
    font-size: 12px;
    letter-spacing: 0.35px;
    line-height: 12px;
}

.remove-btn {
     margin-top: 30px;
    height: 25px;
    border-radius: 5px;
    background-color: white;
    color: #4C9E00;
    font-size: 12px;
    letter-spacing: 0.35px;
    line-height: 12px;
    margin-left: 1rem !important;
}

.agent-control {
    width: 270px;
}
.agency-control {
    width: 270px;
}
.rightdiv {
    width: 60%;
    
}
.leftdiv {
    width: 40%;
   
   
}
.association {
    border-bottom: 1px solid black;
}