
<!--Header-->
<section>
  <div class="d-flex justify-content-between flex-column flex-md-row">
    <div [hidden]="HideDisplayName" *ngIf="!IsSubProcess" class="display-name">{{DisplayName}}</div>
    <!-- Filter List-->
    <div class="tags-list" *ngIf="_bodyData.SortColumn !='-1' || !(isEmptyObject(filters))">
      <div class="tags-list-label">Selected Filter(s) :</div>
      <ul>
        <li *ngIf="_bodyData.SortColumn != '-1' "><span>{{sortColumnName + '(' +_bodyData.SortOrder+')' }}</span>
          <a id="a_otchannel" href="javascript:void(0);" class="icon-close"
            *ngIf="!(_bodyData.SortColumn.toLowerCase() ==='crtdon' && _bodyData.SortOrder.toLowerCase() ==='desc')"
            (click)="onFilterClear(_bodyData.SortColumn, 'sort')"><i class="fas fa-times"></i></a>
        </li>
        <li *ngFor="let item of filters | keyvalue"><span>{{this.FilterList(item.value.GridConditions)}}</span>
          <a id="a_otchannel" href="javascript:void(0);" class="icon-close"
            (click)="onFilterClear(item.value.DataField, item.value.FilterType, item)"><i class="fas fa-times"></i></a>
        </li>
        <li class="resetFilter" (click)="ClearFilters()">
          <span>Remove All Filter(s)</span>
        </li>
      </ul>
    </div>
    <!-- Right Pane-->
    <div class="d-flex align-items-center ml-auto">
      <div class="selectListing sListing2">
        <!--View Dropdown-->
        <div ngbDropdown>
          <button class="btn btn-outline-primary" ngbDropdownToggle>{{ViewName}}</button>
          <ul ngbDropdownMenu>
            <li ngbDropdownItem *ngFor="let item of viewList" (click)="getGridConfig(item.Viewname)">{{item.Viewname}}
            </li>
            <li ngbDropdownItem (click)="getGridConfig('')"> + Create New</li>
          </ul>
        </div>
      </div>
      <!-- Grid Config -->
      <a class="config-icon" title="Configure View" (click)="openGridConfigurationPopup('GridConfiguration',ViewName)">
        <i class="fa fa-cog" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</section>
<div *ngIf="HasGlobalSearch">
  <div class="p-1"></div>
  <!--Gloabl Search-->
  <form class="position-relative text-center" #gblFilterForm
    (ngSubmit)="onFilter(gblFilterForm,'dmoName','Global_Search',undefined)">
    <div class="p-2">
      <div class="wfMainGSearch">
        <div class="globalSearchWrap">
          <div class="position-relative">
            <input id="globalSearch" placeholder="Global Search" type="search">
            <button aria-label="Search" class="btn-search" routerlink="" style="z-index: 1;" tabindex="0" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <button [hidden]="!IsNewEntryAllow  || !checkChildRecordAddCopyRecord" *ngIf="ProcessName !== 'LMKOpportunities'" type="button" class="btn btn-warning text-white open-popup-btn" (click)="openNewFormViewPopup()">
      <i class="fas fa-plus" aria-hidden="true"></i>
    </button>
  </form>
</div>
<div></div>
<!--State Filter-->
<div class="stateFilterGroup" *ngIf="StateFilter?.length > 0">
  <a class="" href="javascript:void(0)" (click)="onFilter(StateFilter,'All','State_Filter',$event)"
    class="{{activeStateFilter.length==0?'active':''}}">All</a>
  <a href="javascript:void(0)" *ngFor="let SFilter of StateFilter;"
    (click)="onFilter(DMOFilterForm1,SFilter,'State_Filter',$event)"
    class="{{activeStateFilter.indexOf(SFilter)>-1?'active':''}}">{{SFilter}}</a>
</div>
<!--Stage Filter-->
<div class="stateFilterGroup" *ngIf="StageFilter?.length > 0">
  <a class="" href="javascript:void(0)" (click)="onFilter(StageFilter,'All','Stage_Filter',$event)"
    class="{{activeStateFilter.length==0?'active':''}}">All</a>
  <a href="javascript:void(0)" *ngFor="let SFilter of StageFilter;"
    (click)="onFilter(DMOFilterForm1,SFilter,'Stage_Filter',$event)"
    class="{{activeStateFilter.indexOf(SFilter)>-1?'active':''}}">{{SFilter}}</a>
</div>
<div class="p-1"></div>
<div class="table-filters-group">
  <!--Custom Filter -->
  <form class="d-flex flex-wrap-reverse" #DMOFilterForm1>
    <div class="selectListing" *ngIf="!isEmptyObject(CustomFilter)">
      <div ngbDropdown>
        <button class="btn btn-outline-primary" ngbDropdownToggle
          id="dropdownCustomFilter">{{selectedCustomFilter}}</button>
        <ul ngbDropdownMenu aria-labelledby="dropdownCustomFilter">
          <li ngbDropdownItem (click)="onFilter(DMOFilterForm1,'Custom Filter(s)','Custom_Filter','Custom Filter(s)')">
            Custom Filter(s)
          </li>
          <li ngbDropdownItem *ngFor="let item of CustomFilter | keyvalue"
            (click)="onFilter(DMOFilterForm1,'Custom Filter(s)','Custom_Filter',item.key)">
            {{item.key}}
          </li>
        </ul>
      </div>
    </div>
    <!-- Dmo Filter -->
    <!-- For Key Value Search Box Ticket No. #1038 -->
    <div class="selectListing" *ngFor="let dmoItem of DMOField; let i = index">
      <div ngbDropdown (click)="BindDMODropDown(dmoItem.GUID)">
        <button class="btn btn-outline-primary" ngbDropdownToggle>
          <div *ngIf="selectedDmoFilter[dmoItem.GUID] && dmoItem.Type=='ColorCodeStatus'" class="color-code"
            [ngStyle]="{'background': selectedDmoFilter[dmoItem.GUID]}"> </div>
          {{!selectedDmoFilter[dmoItem.GUID]? dmoItem.DisplayName : selectedDmoFilter[dmoItem.GUID]}}
        </button>
        <ul ngbDropdownMenu class="dmoPopup">
          <li [hidden]="!showItemLoading" ngbDropdownItem (click)="onFilter(DMOFilterForm1,dmoItem,'DMO_Filter','All',dmoItem.Type)">
            {{dmoItem.DisplayName}}</li>
            <div class="form-group dmoFormGroup">
              <input type="text" class="form-control dmoFilterTextBox" (keyup)="dmoFilterFn(dmoItem.GUID,$event)"/>
          </div>
          <li [hidden]="showItemLoading" class="dropdown-item text-center"><i class="fas fa-circle-notch fa-spin nomar"
              style="font-size:18px"></i></li>
          <li ngbDropdownItem *ngFor="let name of DMOData[dmoItem.GUID] | filterCustom : 'DataValue' : DMODataFilter[dmoItem.GUID];"
            (click)="onFilter(DMOFilterForm1,dmoItem.GUID,'DMO_Filter',name.DataValue,dmoItem.Type)">
            <div *ngIf="dmoItem.Type=='ColorCodeStatus'" class="color-code" [ngStyle]="{'background': name.DataValue}">
            </div>
            {{name.DataValue}}
          </li>
        </ul>
      </div>
    </div>
    <!--All Record My Record -->
    <!-- <div class="selectListing">
      <div ngbDropdown>
        <button class="btn btn-outline-primary" ngbDropdownToggle
          id="AllMyRecordFilter">{{selectedAllMyRecordFilter}}</button>
        <ul ngbDropdownMenu aria-labelledby="dropdownCustomFilter">
          <li ngbDropdownItem (click)="onFilter(DMOFilterForm1,'','All_Filter','AllRecord')">
            All Record
          </li>
          <li ngbDropdownItem (click)="onFilter(DMOFilterForm1,'','All_Filter','MyRecord')">
            My Record
          </li>
        </ul>
      </div>
    </div> -->
  </form>
  <!--Export-->
  <div class="export-btns-group">
    <a [hidden]="!IsBulkUploadAllow" href="javascript:void(0)" (click)="openBulkUpload(bulkUpload)"
      title="Bulk Update"><i class="fas fa-edit"></i>Bulk Upload</a>
      <a *ngIf="isCRMProceedManagement()" href="javascript:void(0)"  (click)="openProceedManagement(proceedManagement)"
      title="Proceeds Management"><i class="fas fa-edit"></i>Proceeds Management</a>
    <a [hidden]="hideBulkUpdateButton()" href="javascript:void(0)" (click)="bulk_update()" title="Bulk Update"><i
        class="fas fa-edit"></i>Bulk Update</a>
    <a [hidden]="!IsExcelAllow" href="javascript:void(0)" [class.disabled]='isExcelAndPDFDisabled' (click)="openExportGridConfigurationPopup('GridConfiguration',ViewName, 'Excel')" title="Excel"><i class="far fa-file-excel"
        role="img" aria-label="Excel"></i>Excel</a>
    <a [hidden]="!IsPDFAllow" href="javascript:void(0)" [class.disabled]='isExcelAndPDFDisabled' (click)="openExportGridConfigurationPopup('GridConfiguration',ViewName, 'Pdf')" title="PDF"><i class="far fa-file-pdf" role="img"
        aria-label="PDF"></i>PDF</a>
    <!-- <a href="javascript:void(0)" onclick="window.print();return false;" title="Print"><i class="fas fa-print" role="img"
        aria-label="Print"></i>Print</a> -->
    <a [hidden]="!IsDeletionAllow" href="javascript:void(0)" (click)="showDeleteMessage()" title="Delete"><i
        class="fas fa-trash-alt" role="img" aria-label="Delete"></i>Delete</a>
  </div>
</div>
<div class="p-2"></div>
<div class="" [id]="'ProcessName'">
  <div>
    <div class="tableWrap">
      <table class="basicTable stripped" id="gridView">
        <thead cdkDropListGroup>
          <tr cdkDropList cdkDropListOrientation="horizontal" id='tableHeadRow' class="list"
            (cdkDropListDropped)="drop($event)">
            <th [hidden]="ShowSelectAll" style="width:40px">
              <label class="inline-checkbox ml-2 mt-1" [style.width.%]="'1%'">
                <input type="checkbox" name="chkboxlist" id="selectAll" [(ngModel)]="selectedAll" (click)="SelectAllCheckBox($event)">
                <i class="skin"></i>
              </label>
            </th>
            <th [hidden]="showActionCol" style="width: 70px"><span class="">Action</span></th>
            <th *ngFor="let item of columns; let i = index" class="ColResize" id="{{item.datafield}}"
              [ngStyle]="{'width': item.width}" cdkDrag>
              <div class="float-left drag-grip" cdkDragHandle>
                <i class="fas fa-grip-vertical"></i>
              </div>
              <!--Header Title-->
              <span class="colHead content-text" (click)="sortColumn(item.datafield)"> {{item.text}}</span>
              <!--Column Filter Button-->
              <div ngbDropdown class="grid-filter-wrap"  placement="bottom-right" [display]="i == 0 ? 'static': 'dynamic'">
                <div id="dropdownBasic1" ngbDropdownToggle>
                  <img alt="" (click)="bindColumnFilterDdl(item)" src="assets/styles/images/arrange-arrow.png">
                </div>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <ul class="list-unstyled">
                    <li role="menuitem" (click)="onSort(item.datafield,'asc')">
                      <a href="javasript: void(0)">
                        <div class="fas fa-sort-alpha-down"></div> Sort Ascending
                      </a>
                    </li>
                    <li role="menuitem" (click)="onSort(item.datafield,'desc')">
                      <a href="javasript: void(0)">
                        <div class="fas fa-sort-alpha-up"></div> Sort Descending
                      </a>
                    </li>
                    <li role="menuitem" (click)="onSort()">
                      <a href="javasript: void(0)">
                        <div class="fas fa-random"></div> Remove Sort
                      </a>
                    </li>
                    <li type="separator" class="li-separator" role="menuitem"></li>
                    <li>
                      <form #tblFilterForm #f="ngForm" id='frm_{{item.datafield}}'
                        (ngSubmit)="f.form.valid && onFilter(tblFilterForm,item.datafield,'Column_Filter',f,item.dataType)">
                        <div class="form-group-rows" *ngIf="this.columnFilter.condition.OptionTypes.includes(item.dataType)">
                          <ul style="width: 200px;" class="list-unstyled">
                            <li>
                              <input type="checkbox" class="checkbox checkboxMargin" value="EMPTY">
                              <span>Empty</span>
                            </li>
                            <li>
                              <input type="checkbox" class="checkbox checkboxMargin" value="NOT_EMPTY">
                              <span>Not Empty</span>
                            </li>
                          </ul>
                        </div>
                        <div class="filter" style="height: 18px; margin-top: 3px; margin-bottom: 3px;">
                          Show rows where:
                        </div>
                        <div *ngIf="this.columnFilter.condition.OptionTypes.includes(item.dataType); else OtherColumnFilter">
                          <input type="hidden" value="or" />

                          <!-- <div class="form-group">
                            <div class="input-control">
                              <input type="text" class="form-control search-row" [(ngModel)]="rowSearchInput" name="search-row">
                            </div>
                          </div> -->
                          
                          <div class="list-group form-group-rows">
                            <ul style="width: 200px;" class="list-unstyled list-group">
                              <li [hidden]="showItemLoading" class="dropdown-item text-center" class="list-group-item">
                                <i class="fas fa-circle-notch fa-spin nomar" style="font-size:18px"></i></li>
                              <li *ngFor="let obj of ColumnData[item.datafield]">
                                <input type="checkbox" class="checkbox checkboxMargin" [value]="obj.DataValue">
                                <span>
                                  {{obj.DataValue}}
                                </span>
                              </li>
                              <li type="separator" class="li-separator" role="menuitem"></li>
                            </ul>
                          </div>
                        </div>
                        <ng-template #OtherColumnFilter>
                          <div class="form-group"
                          [hidden]="(ConditionOpt2.value =='NOT_NULL' || ConditionOpt2.value =='NULL')">
                            <select class="form-control" style="width: 200px;"  name="ConditionOpt1" #ConditionOpt1
                              [ngClass]="{ 'is-invalid': f.submitted && ConditionOpt1.value == 'Select...'}" required>
                              <option *ngFor="let conditionType of ColumnData[item.datafield]"
                                [value]="conditionType.key">{{conditionType.value}}</option>
                            </select>
                          </div>
                          <div>
                          <div 
                          [hidden]="(ConditionOpt1.value =='NOT_NULL' || ConditionOpt2.value =='NOT_NULL' || ConditionOpt1.value =='NULL' || ConditionOpt2.value =='NULL')"
                          class="form-group" *ngIf="this.columnFilter.condition.DateFieldTypes.includes(item.dataType)">
                            <div class="input-group">
                              <input class="form-control" placeholder="Select Date" name="filterValue1"
                                ngbDatepicker #d="ngbDatepicker" #filterValue1
                                [ngClass]="{ 'is-invalid': f.submitted  && filterValue1.value == ''  }" required>
                              <div class="input-group-append">
                                <button class="btn btn-sm btn-outline-secondary calendar" (click)="d.toggle()"
                                  type="button"><i _ngcontent-lcu-c9="" aria-hidden="true"
                                    class="far fa-calendar-alt"></i></button>
                              </div>
                            </div>
                          </div>
                          <div 
                          [hidden]="(ConditionOpt1.value =='NOT_NULL' || ConditionOpt2.value =='NOT_NULL' || ConditionOpt1.value =='NULL' || ConditionOpt2.value =='NULL')"
                          class="form-group" *ngIf="!this.columnFilter.condition.DateFieldTypes.includes(item.dataType)">
                            <input type="text" class="form-control" name="filterValue1"
                              placeholder="Filter Value" #filterValue1
                              [ngClass]="{ 'is-invalid': f.submitted  && filterValue1.value == ''  }" required
                              style="width: 200px;">
                          </div>
                          <div class="form-group"
                          [hidden]="(ConditionOpt1.value =='NOT_NULL' || ConditionOpt2.value =='NOT_NULL' || ConditionOpt1.value =='NULL' || ConditionOpt2.value =='NULL')">
                            <select class="form-control" style="width: 200px;" name="logicalOpt"
                              #logicalOpt [ngClass]="{ 'is-invalid': f.submitted && logicalOpt.value == 'Select...' }"
                              required>
                              <!-- <option selected>Select...</option> -->
                              <option value="OR" selected>Or</option>
                              <option value="AND">AND</option>
                            </select>
                          </div>
                          <div class="form-group"
                          [hidden]="(ConditionOpt1.value =='NOT_NULL' || ConditionOpt1.value =='NULL')">
                            <select class="form-control" style="width: 200px;" name="ConditionOpt2" #ConditionOpt2>
                              <option *ngFor="let conditionType of ColumnData[item.datafield]"
                                [value]="conditionType.key">{{conditionType.value}}</option>
                            </select>
                          </div>
                          <div class="form-group" *ngIf="this.columnFilter.condition.DateFieldTypes.includes(item.dataType)"
                          [hidden]="(ConditionOpt1.value =='NOT_NULL' || ConditionOpt2.value =='NOT_NULL' || ConditionOpt1.value =='NULL' || ConditionOpt2.value =='NULL')">
                            <div class="input-group">
                              <input class="form-control" placeholder="Select Date" name="filterValue2" #filterValue2
                                ngbDatepicker #d="ngbDatepicker">
                              <div class="input-group-append">
                                <button class="btn btn-sm btn-outline-secondary calendar" (click)="d.toggle()"
                                  type="button"><i _ngcontent-lcu-c9="" aria-hidden="true"
                                    class="far fa-calendar-alt"></i></button>
                              </div>
                            </div>
                          </div>
                          <div class="form-group" *ngIf="!this.columnFilter.condition.DateFieldTypes.includes(item.dataType)"
                          [hidden]="(ConditionOpt1.value =='NOT_NULL' || ConditionOpt2.value =='NOT_NULL' || ConditionOpt1.value =='NULL' || ConditionOpt2.value =='NULL')">
                            <input type="text" class="form-control" name="filterValue2" #filterValue2 placeholder="Filter Value" style="width: 200px;">
                          </div>
                        </div>
                        </ng-template>
                        <div>
                          <button type="submit" class="btn btn-primary btn-sm">Filter</button>
                          <button type="reset" class="btn btn-secondary btn-sm float-right"
                            (click)="onFilterClear(item.datafield,'Column_Filter')">Clear</button>
                        </div>
                      </form>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="resize">
                  <i class='  fas fa-grip-lines-vertical' (mousedown)="mouseDown($event)" cdkDragDisabled></i>
              </div>
              
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="tableData.length == 0">
            <td [colSpan]="colSpan" class=" text-center">No Data Found</td>
          </tr>
          <tr *ngFor="let item of tableData; let rowIndex=index " id="tr_{{item[keyColumn]}}" [ngClass]="item['selected']?'active':''">
            <td [hidden]="ShowSelectAll">
              <label class="inline-checkbox ml-2 mt-1">
                <input type="checkbox" name="chkboxlist" id="{{item[keyColumn]}}"
                  checked="{{item['selected']?'checked':''}}" value="{{item['selected']}}"
                  (change)="checkIfAllSelected($event,item)">
                <i class="skin"></i>
              </label>
            </td>
            <!--Column Action Button-->
            <td [hidden]="showActionCol">
              <div class="action-btns">
                <ng-container *ngIf="!item.isEdit">
                    <ng-container *ngIf="(ProcessName === 'LMKLivestockSales' && item['WFODISPNAME']==='Finalised') || (ProcessName === 'LMKCRMCommissionAdjustment' &&  item['WFODISPNAME']==='Complete'); else otherProcess">
                        <a href="javascript:void(0)" (click)="goToDetailPage(item[keyColumn],'Edit')" title="View">
                            <i class="fas fa-eye"></i>
                          </a>
                      </ng-container>
                      <ng-template #otherProcess>
                        <a href="javascript:void(0)" (click)="goToDetailPage(item[keyColumn],'Edit')" title="Edit">
                          <i class="fas fa-pencil-alt"></i>
                        </a>
                      </ng-template>
                  <a [hidden]="!IsCopyAllow || !checkChildRecordAddCopyRecord" href="javascript:void(0)" (click)="openCopyConfirmation(item[keyColumn])" title="Copy">
                    <i class="far fa-copy"></i>
                  </a>
                  <a [hidden]="!IsDeletionAllow || HideDeleteActionIcon" href="javascript:void(0)" (click)="openConfirmation(item[keyColumn])" title="Delete">
                    <i class="far fa-trash-alt"></i>
                  </a>
                </ng-container>
                <ng-container *ngIf="item.isEdit">
                  <a href="javascript:void(0)" (click)="confirmSaveRowRecord(item)" title="Save">
                    <i class="fas fa-save"></i>
                  </a>
                  <a href="javascript:void(0)" (click)="item.isEdit = false;" title="Cancel">
                    <i class="fas fa-times"></i>
                  </a>
                </ng-container>
              </div>
            </td>
            <td *ngFor="let colIndex of columns;let columnIndex=index" [ngSwitch]="colIndex.dataType">
                
              
              <!-- TextBox,  EmailEditBox, UrlTextBox-->
              <div
                *ngSwitchCase="colIndex.dataType==='TextBox' || colIndex.dataType==='EmailEditBox'  || colIndex.dataType==='UrlTextBox' ? colIndex.dataType:''">
                <i *ngIf="canInlineEdit" class="icon-edit fas fa-edit" (click)="item.isEdit = true;"></i>
                <input [attr.type]="colIndex.isNumeric ? 'number' : 'text'" class="form-control" id="textBox_{{item[keyColumn]}}"
                  [(ngModel)]="item.edit_value[colIndex.datafield]" *ngIf="item.isEdit">
                <div *ngIf="!item.isEdit" class="content-text">
                  <!-- Make Link based on condition-->
                  <div *ngIf="colIndex.datafield.trim() === DmoColumnName">
                    <ng-container *ngIf="IsOtherAPICall">
                      <div *ngIf="isExists(item); else withoutLink">    
                            <a *ngIf="item[colIndex.datafield].indexOf(',') > -1" href="javascript:void(0)" [ngbPopover]="tipContent" [closeDelay]="2000" triggers="mouseenter:mouseleave"> ...</a>
                            <a *ngIf="item[colIndex.datafield].indexOf(',') === -1" href="javascript:void(0)" (click)="goToDetailPage(item[colIndex.datafield], colIndex.datafield, true)"> {{ item[colIndex.datafield]}}</a>
                        </div>
                    </ng-container>
                    <ng-template #withoutLink>{{item[colIndex.datafield]}}</ng-template>
                    <ng-container *ngIf="!IsOtherAPICall">
                      <a href="javascript:void()" (click)="goToDetailPage(item[colIndex.datafield], colIndex.text)">{{ item[colIndex.datafield] }}</a>
                    </ng-container>
                  </div>

                  <!-- For Sale Multiple Company Views -->
                  <div *ngIf="colIndex.datafield.trim() === 'dmocrmheaderinfocmpcode'">
                    <ng-container *ngIf="IsOtherAPICall">  
                      <a *ngIf="item[colIndex.datafield].indexOf(',') > -1"  [ngbPopover]="tipContentWithoutLink" [closeDelay]="2000" triggers="mouseenter:mouseleave"> ...</a>
                      <a *ngIf="item[colIndex.datafield].indexOf(',') === -1" > {{ item[colIndex.datafield]}}</a>
                    </ng-container>
                    <ng-template #withoutLink>{{item[colIndex.datafield]}}</ng-template>
                    <ng-container *ngIf="!IsOtherAPICall">
                      <a href="javascript:void()" (click)="goToDetailPage(item[colIndex.datafield], colIndex.text)">{{ item[colIndex.datafield] }}</a>
                    </ng-container>
                  </div>
                 

                  <div *ngIf="colIndex.datafield.trim() !== DmoColumnName && colIndex.datafield.trim() !== 'dmocrmheaderinfocmpcode'" 
                        [ngSwitch]="(colIndex?.dmoValuedataType === 'Dollar' && ProcessName === 'LMKOpportunities')? 1 
                        :(colIndex?.dmoValuedataType === 'Dollar' && ProcessName !== 'LMKOpportunities')?2:-1 ">
                    <span *ngSwitchCase="1">   
                      <ng-container *ngIf="item?.lmkopecesdmolotprctype === '$/head' || item?.lmkopesdmodefprcngtype === '$/head'">
                        {{item[colIndex.datafield] | currency:"AUD":"symbol-narrow"}}     
                      </ng-container>
                      <ng-container *ngIf="(item?.lmkopecesdmolotprctype === 'c/kg' || item?.lmkopesdmodefprcngtype === 'c/kg') 
                      && item[colIndex.datafield] !== ''">
                        {{item[colIndex.datafield]}}&#162;
                      </ng-container>                    
                      <ng-container *ngIf="item?.lmkopecesdmolotprctype === '' || item?.lmkopecesdmolotprctype === undefined ">
                        {{item[colIndex.datafield]}}
                      </ng-container>            
                    </span>
                    <span *ngSwitchCase="2"> 
                        {{data[key.objectKey] | currency:"AUD":"symbol-narrow"}}                             
                    </span>
                    <span *ngSwitchDefault>{{item[colIndex.datafield]}}</span>
                  </div>
                </div>
              </div>
              <!-- PhoneTextBox-->
              <div *ngSwitchCase="'PhoneTextBox'">
                <i *ngIf="canInlineEdit" class="icon-edit fas fa-edit" (click)="item.isEdit = true"></i>
                <input type="tel" class="form-control" [textMask]="{mask: mask}" id="textBox_{{item[keyColumn]}}" [(ngModel)]="item.edit_value[colIndex.datafield]" *ngIf="item.isEdit">
                <div *ngIf="!item.isEdit" class="content-text">{{item[colIndex.datafield]}}</div>
              </div>
              <!-- ColorCodeStatus-->
              <div *ngSwitchCase="colorCode.indexOf(colIndex.dataType)>-1 ? colIndex.dataType:''">
                <div ngbDropdown class="grid-wrap" tabIndex="0" #myDrop="ngbDropdown" (focus)="myDrop.open()" (openChange)="getDropDownData(colIndex.datafield); item.isEdit = true;">
                  <div id="cell-edit" ngbDropdownToggle>
                    <i *ngIf="canInlineEdit" class="icon-edit fas fa-edit"></i>
                  </div>
                  <div ngbDropdownMenu aria-labelledby="cell-edit">
                    <ul class="list-unstyled">
                        <li [hidden]="!(!DMOData[colIndex.datafield])" class="dropdown-item text-center">
                          <i class="fas fa-circle-notch fa-spin nomar" style="font-size:18px"></i>
                        </li>
                        <li ngbDropdownItem *ngFor="let name of DMOData[colIndex.datafield];" (click)="changeEditValue($event, item, colIndex, name)">
                          <div *ngIf="colIndex.dataType ==='ColorCodeStatus'" class="color-code" [ngStyle]="{'background': name.DataValue}"></div>{{name.DataValue}}
                        </li>
                    </ul>
                  </div>
                </div>
                <div class="content-text">
                  <ng-container *ngIf="item.isEdit">
                      <div class="color-code" [ngStyle]="{'background': item.edit_value[colIndex.datafield]}"></div> {{item.edit_value[colIndex.datafield]}}
                  </ng-container>
                  <ng-container *ngIf="!item.isEdit">
                      <div class="color-code" [ngStyle]="{'background': item[colIndex.datafield]}"></div> {{item[colIndex.datafield]}}
                  </ng-container>
                </div>
              </div>
              <!-- DropDownList, CountryList, USAStateList,  ListBox -->
              <div *ngSwitchCase="dropDown.indexOf(colIndex.dataType)>-1 ? colIndex.dataType:'' ">
                <div ngbDropdown class="grid-wrap" tabIndex="0" #myDrop="ngbDropdown" (focus)="myDrop.open()" (openChange)="getDropDownData(colIndex.datafield); item.isEdit = true">
                  <div id="cell-edit" ngbDropdownToggle>
                    <i *ngIf="canInlineEdit" class="icon-edit fas fa-edit"></i>
                  </div>
                  <div ngbDropdownMenu aria-labelledby="cell-edit">
                    <ul class="list-unstyled">
                      <!--Loding icon-->
                      <li [hidden]="!(!DMOData[colIndex.datafield])" class="dropdown-item text-center">
                        <i class="fas fa-circle-notch fa-spin nomar" style="font-size:18px"></i>
                      </li>
                      <li ngbDropdownItem *ngFor="let name of DMOData[colIndex.datafield];" (click)="changeEditValue($event, item, colIndex, name)">
                        <div>{{name.DataValue}}</div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="content-text">
                  <ng-container *ngIf="item.isEdit">
                      {{item.edit_value[colIndex.datafield]}}
                  </ng-container>
                  <ng-container *ngIf="!item.isEdit">
                      {{item[colIndex.datafield]}}
                  </ng-container>
                </div>
              </div>
              <!--RoleType-->
              <div *ngSwitchCase="roleType.indexOf(colIndex.dataType)>-1? colIndex.dataType:'' ">
                <div ngbDropdown class="grid-wrap" tabIndex="0" #myDrop="ngbDropdown" (focus)="myDrop.open()" (openChange)="getDropDownData(colIndex.datafield, true); item.isEdit = true;">
                  <div id="cell-edit" ngbDropdownToggle>
                    <i *ngIf="canInlineEdit" class="icon-edit fas fa-edit"></i>
                  </div>
                  <div ngbDropdownMenu aria-labelledby="cell-edit">
                    <form>
                      <ul class="list-unstyled">
                        <!--Loding icon-->
                        <li [hidden]="!(!DMOData[colIndex.datafield])" class="dropdown-item text-center">
                          <i class="fas fa-circle-notch fa-spin nomar" style="font-size:18px"></i>
                        </li>
                        <li *ngFor="let name of DMOData[colIndex.datafield]; let i = index" >
                          <div class="form-check">
                            <input type="radio" name="radio" class="form-check-input" [checked]="CheckedSelected(item.isEdit ? item.edit_value[colIndex.datafield] :item[colIndex.datafield], name.DataValue.key)" value="{{name.DataValue.key}}" id="{{'check_'+i}}">
                            <label class="form-check-label" for="{{'check_'+i}}">{{name.DataValue.value}}</label>
                          </div>
                        </li>
                        <li>
                          <div>
                            <button type="button" class="btn btn-primary btn-sm" (click)="changeEditValue($event, item, colIndex); myDrop.close()">Apply</button>
                            <button type="button" class="btn btn-secondary btn-sm float-right" (click)="myDrop.close()">Cancel</button>
                          </div>
                        </li>
                      </ul>
                    </form>
                  </div>
                </div>
                <div class="content-text">
                  <ng-container *ngIf="item.isEdit">
                      {{item.edit_value[colIndex.datafield]}}
                  </ng-container>
                  <ng-container *ngIf="!item.isEdit">
                      {{item[colIndex.datafield]}}
                  </ng-container>
                </div>
              </div>
              <!-- CheckBoxList, MultiSelectDropDownList, RadioButtonList-->
              <div *ngSwitchCase="dropDownWithCheckbox.indexOf(colIndex.dataType)>-1? colIndex.dataType:'' ">
                <div ngbDropdown class="grid-wrap" tabIndex="0" #myDrop="ngbDropdown" (focus)="myDrop.open()" (openChange)="getDropDownData(colIndex.datafield); item.isEdit = true">
                  <div id="cell-edit" ngbDropdownToggle>
                    <i *ngIf="canInlineEdit" class="icon-edit fas fa-edit"></i>
                  </div>
                  <div ngbDropdownMenu aria-labelledby="cell-edit">
                    <form>
                      <ul class="list-unstyled">
                        <!--Loding icon-->
                        <li [hidden]="!(!DMOData[colIndex.datafield])" class="dropdown-item text-center">
                          <i class="fas fa-circle-notch fa-spin nomar" style="font-size:18px"></i>
                        </li>
                        <li *ngFor="let name of DMOData[colIndex.datafield]; let i = index" >
                          <div class="form-check">
                            <input type="{{colIndex.dataType==='RadioButtonList' ? 'radio' :'checkbox'}}" name="radio" class="form-check-input" [checked]="CheckedSelected(item.isEdit ? item.edit_value[colIndex.datafield] :item[colIndex.datafield], name.DataValue)" id="{{'check_'+i}}">
                            <label class="form-check-label" for="{{'check_'+i}}">{{name.DataValue}}</label>
                          </div>
                        </li>
                        <li>
                          <div>
                            <button type="button" class="btn btn-primary btn-sm" (click)="changeEditValue($event, item, colIndex); myDrop.close()">Apply</button>
                            <button type="button" class="btn btn-secondary btn-sm float-right" (click)="myDrop.close()">Cancel</button>
                          </div>
                        </li>  
                      </ul>
                    </form>
                  </div>
                </div>
                <div class="content-text">
                  <ng-container *ngIf="item.isEdit">
                      {{item.edit_value[colIndex.datafield]}}
                  </ng-container>
                  <ng-container *ngIf="!item.isEdit">
                      {{item[colIndex.datafield]}}
                  </ng-container>
                </div>
              </div>
              <!-- DateEditBox, DateWithCalendar -->
              <div *ngSwitchCase="calender.indexOf(colIndex.dataType)>-1 ? colIndex.dataType:'' " class="cell-date">
                <input type="hidden" ngbDatepicker (dateSelect)="changeEditValue($event, item, colIndex)" placeholder="Select Date" name="dp" #d="ngbDatepicker" />
                <i *ngIf="canInlineEdit" class="icon-edit fas fa-edit"
                  (click)="d.toggle();d.navigateTo(getDateForCalender(item.isEdit ? item.edit_value[colIndex.datafield]: item[colIndex.datafield])); item.isEdit=true;">
                </i>
                <div class="content-text">
                  <ng-container *ngIf="item.isEdit">
                      {{ convertToLocalDataAndTime(item.edit_value[colIndex.datafield],  dateFormat) }}
                  </ng-container>
                  <ng-container *ngIf="!item.isEdit">
                      {{ convertToLocalDataAndTime(item[colIndex.datafield],  dateFormat) }}
                  </ng-container>
                </div>
              </div>
              <!--Default Date Format-->
              <div *ngSwitchCase="colIndex.dataType==='CreatedDateTime' || colIndex.dataType==='LastUpdatedDateTime'?colIndex.dataType:''">
                <div class="content-text">{{ convertToLocalDataAndTime(item[colIndex.datafield], dateTimeFormat ) }}</div>
              </div>
              <div *ngSwitchCase="colIndex.dataType==='MODFON' || colIndex.dataType==='CRTDON' || colIndex.dataType==='DateTimeBox'?colIndex.dataType:''">
                <div class="content-text">{{ convertToLocalDataAndTime(item[colIndex.datafield], dateTimeFormat2,'0' ) }}</div>
              </div>
           
              <!-- Others -->
              <div *ngSwitchDefault>
                  <div class="content-text">{{ item[colIndex.datafield] }}</div>
              </div>
              <ng-template #tipContent>
                <div>
                <a href="javascript:void(0)" (click)="goToDetailPage(contid, colIndex.datafield, true)" *ngFor="let contid of textSepratorHover(item[colIndex.datafield] , ',')">
                  {{contid}} <br>
                </a>
              </div>
            </ng-template>
            <ng-template #tipContentWithoutLink>
              <div>
              <a   *ngFor="let contid of textSepratorHover(item[colIndex.datafield] , ',')">
                {{contid}} <br>
              </a>
            </div>
          </ng-template>
            </td>
          </tr>
          <!-- Add New Row using inline editing functionality -->
          <tr *ngIf="CanAddNewRow">
            <td></td>
            <td>
              <div class="action-btns">
                <a href="javascript:void(0)" (click)="confirmCreateNewRecord()" title="Create">
                  <i class="fas fa-save"></i>
                </a>
              </div>
            </td>
            <td *ngFor="let colIndex of columns;let columnIndex=index" [ngSwitch]="colIndex.dataType">
              <!-- TextBox,  EmailEditBox, UrlTextBox-->
              <div *ngSwitchCase="colIndex.dataType==='TextBox' || colIndex.dataType==='EmailEditBox'  || colIndex.dataType==='UrlTextBox' ? colIndex.dataType:''">
                <input class="form-control" [attr.type]="colIndex.isNumeric ? 'number' : 'text'" [(ngModel)]="newRow.edit_value[colIndex.datafield]">
              </div>
              <!-- PhoneTextBox-->
              <div *ngSwitchCase="'PhoneTextBox'">
                <input class="form-control" type="tel" [textMask]="{mask: mask}" [(ngModel)]="newRow.edit_value[colIndex.datafield]">
              </div>
              <!-- ColorCodeStatus-->
              <div *ngSwitchCase="colorCode.indexOf(colIndex.dataType)>-1 ? colIndex.dataType:''">
                <div ngbDropdown class="grid-wrap" tabIndex="0" #myDrop="ngbDropdown" (focus)="myDrop.open()" (openChange)="getDropDownData(colIndex.datafield)">
                  <div id="cell-edit" ngbDropdownToggle>
                    <i *ngIf="canInlineEdit" class="icon-edit fas fa-edit"></i>
                  </div>
                  <div ngbDropdownMenu aria-labelledby="cell-edit">
                    <ul class="list-unstyled">
                      <li [hidden]="!(!DMOData[colIndex.datafield])" class="dropdown-item text-center">
                        <i class="fas fa-circle-notch fa-spin nomar" style="font-size:18px"></i>
                      </li>
                      <li ngbDropdownItem *ngFor="let name of DMOData[colIndex.datafield];" (click)="changeEditValue($event, newRow, colIndex, name)">
                          <div *ngIf="colIndex.dataType ==='ColorCodeStatus'" class="color-code" [ngStyle]="{'background': name.DataValue}"></div>
                          {{name.DataValue}}
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="content-text">
                  <div class="color-code" [ngStyle]="{'background': newRow.edit_value[colIndex.datafield]}"></div>{{ newRow.edit_value[colIndex.datafield] }}
                </div>
              </div>
              <!-- DropDownList, CountryList, USAStateList,  ListBox -->
              <div *ngSwitchCase="dropDown.indexOf(colIndex.dataType)>-1 ? colIndex.dataType:'' ">
                <div ngbDropdown class="grid-wrap" tabIndex="0" #myDrop="ngbDropdown" (focus)="myDrop.open()" (openChange)="getDropDownData(colIndex.datafield)">
                  <div id="cell-edit" ngbDropdownToggle>
                    <i *ngIf="canInlineEdit" class="icon-edit fas fa-edit"></i>
                  </div>
                  <div ngbDropdownMenu aria-labelledby="cell-edit">
                    <ul class="list-unstyled">
                        <!--Loding icon-->
                      <li [hidden]="!(!DMOData[colIndex.datafield])" class="dropdown-item text-center">
                        <i class="fas fa-circle-notch fa-spin nomar" style="font-size:18px"></i>
                      </li>
                      <li ngbDropdownItem *ngFor="let name of DMOData[colIndex.datafield];" (click)="changeEditValue($event, newRow, colIndex, name)">
                        <div>{{name.DataValue}}</div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="content-text">{{ newRow.edit_value[colIndex.datafield] }}</div>
              </div>
              <!-- CheckBoxList, MultiSelectDropDownList, RadioButtonList-->
              <div *ngSwitchCase="dropDownWithCheckbox.indexOf(colIndex.dataType)>-1? colIndex.dataType:'' ">
                <div ngbDropdown class="grid-wrap" tabIndex="0" #myDrop="ngbDropdown" (focus)="myDrop.open()" (openChange)="getDropDownData(colIndex.datafield)">
                  <div id="cell-edit" ngbDropdownToggle>
                    <i *ngIf="canInlineEdit" class="icon-edit fas fa-edit"></i>
                  </div>
                  <div ngbDropdownMenu aria-labelledby="cell-edit">
                    <div>
                      <ul class="list-unstyled">
                        <!--Loding icon-->
                        <li [hidden]="!(!DMOData[colIndex.datafield])" class="dropdown-item text-center">
                          <i class="fas fa-circle-notch fa-spin nomar" style="font-size:18px"></i>
                        </li>
                        <li *ngFor="let name of DMOData[colIndex.datafield]; let i = index" >
                          <div class="form-check">
                            <input type="{{colIndex.dataType==='RadioButtonList' ? 'radio' :'checkbox'}}" name="radio" class="form-check-input" [checked]="CheckedSelected(newRow.edit_value[colIndex.datafield], name.DataValue)" id="{{'check_'+i}}">
                            <label class="form-check-label" for="{{'check_'+i}}">{{name.DataValue}}</label>
                          </div>
                        </li>
                        <li>
                          <div>
                              <button class="btn btn-primary btn-sm" (click)="changeEditValue($event, newRow, colIndex); myDrop.close()">Apply</button>
                              <button class="btn btn-secondary btn-sm float-right" (click)="myDrop.close()">Cancel</button>
                          </div>
                        </li>  
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="content-text">{{ newRow.edit_value[colIndex.datafield] }}</div>
              </div>
              <!-- DateEditBox, DateWithCalendar -->
              <div *ngSwitchCase="calender.indexOf(colIndex.dataType)>-1 ? colIndex.dataType:'' " class="cell-date">
                <input type="hidden" ngbDatepicker (dateSelect)="changeEditValue($event, newRow, colIndex)" placeholder="Select Date" name="dp" #d="ngbDatepicker" />
                <i
                  *ngIf="canInlineEdit"
                  class="icon-edit fas fa-edit"
                  (click)="d.toggle();d.navigateTo(getDateForCalender(newRow.edit_value[colIndex.datafield]));">
                </i>
                <div class="content-text">
                  {{ convertToLocalDataAndTime(newRow.edit_value[colIndex.datafield], dateFormat) }}
                </div>
              </div>
              <!--RoleType-->
              <div *ngSwitchCase="roleType.indexOf(colIndex.dataType)>-1? colIndex.dataType:'' ">
                <div ngbDropdown class="grid-wrap" tabIndex="0" #myDrop="ngbDropdown" (focus)="myDrop.open()" (openChange)="getDropDownData(colIndex.datafield, true)">
                  <div id="cell-edit" ngbDropdownToggle>
                    <i *ngIf="canInlineEdit" class="icon-edit fas fa-edit"></i>
                  </div>
                  <div ngbDropdownMenu aria-labelledby="cell-edit">
                    <div>
                      <ul class="list-unstyled">
                        <!--Loding icon-->
                        <li [hidden]="!(!DMOData[colIndex.datafield])" class="dropdown-item text-center">
                          <i class="fas fa-circle-notch fa-spin nomar" style="font-size:18px"></i>
                        </li>
                        <li *ngFor="let name of DMOData[colIndex.datafield]; let i = index" >
                          <div class="form-check">
                            <input type="radio" name="radio" class="form-check-input" [checked]="CheckedSelected(newRow.edit_value[colIndex.datafield], name.DataValue.key)" value="{{name.DataValue.key}}" id="{{'check_'+i}}">
                            <label class="form-check-label" for="{{'check_'+i}}">{{name.DataValue.value}}</label>
                          </div>
                        </li>
                        <li>
                          <div>
                            <button type="button" class="btn btn-primary btn-sm" (click)="changeEditValue($event, newRow, colIndex); myDrop.close()">Apply</button>
                            <button class="btn btn-secondary btn-sm float-right" (click)="myDrop.close()">Cancel</button>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="content-text">{{ newRow.edit_value[colIndex.datafield] }}</div>
              </div>
              <!-- Others -->
              <div *ngSwitchDefault>
                  <div class="content-text">{{ newRow.edit_value[colIndex.datafield] }}</div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <!--Grid Footer-->
      <nav aria-label="Page navigation" [hidden]='!hideFooter'>
        <div class="filter_pagination justify-content-end">
          <div [ngClass]="TableInfo.PageNumber==1?'disabled':''">
            <div class="input-group">
              <div>Go to page :</div>
              <input class="gotoPage" #pageSelect type="number" [value]="TableInfo.PageNumber" min="1"
                [style.width.ch]="(pageNumberControlLength || 0) + 6"
                (keydown)="onPageNumberChange($event)"
                (change)="goToPage(pageSelect)">

            </div>
          </div>
          <div class="selectListing" [ngClass]="TableInfo.PageNumber==1?'disabled':''">
            <div class="input-group">
              <div>Show Rows:</div>
              <div ngbDropdown>
                <button class="btn btn-outline-primary" ngbDropdownToggle>{{_bodyData.PageSize}}</button>
                <ul ngbDropdownMenu aria-labelledby="dropdownCustomFilter">
                  <li ngbDropdownItem (click)="changePageSize(10)">10</li>
                  <li ngbDropdownItem (click)="changePageSize(20)">20</li>
                  <li ngbDropdownItem (click)="changePageSize(30)">30</li>
                  <li ngbDropdownItem (click)="changePageSize(40)">40</li>
                  <li ngbDropdownItem (click)="changePageSize(50)">50</li>
                  <li ngbDropdownItem (click)="changePageSize(100)">100</li>
                </ul>
              </div>
            </div>
          </div>
          <div [ngClass]="TableInfo.PageNumber==1?'disabled':''">
            <div class="input-group">              
              <div  *ngIf="TableInfo.Recordes !== -1 && IsCoutLoad" style="padding-right:0px;"> {{TableInfo.Start}} - {{TableInfo.End}} of               
                <span>{{TableInfo.Recordes}}</span>                
              </div>
              <img *ngIf="!IsCoutLoad" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />              
            </div>
          </div>
          <!--Next Button-->
          <div class="nxt_prvWrap" [ngClass]="TableInfo.PageNumber==1?'disabled':''">
            <a (click)="onPageChange('prev')" tabindex="-1"><i aria-label="Left arrow" class="fas fa-angle-left"
                role="img"></i></a>
          </div>
          <!--Previous button-->
          <div class="nxt_prvWrap" [ngClass]="(TableInfo.PageNumber+1)>=TableInfo.PageCount?'disabled':''">
            <a (click)="onPageChange('next')" tabindex="-1"><i aria-label="Right arrow" class="fas fa-angle-right"
                role="img"></i></a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
<ng-template #bulkUpload let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Upload file</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <!-- <a href="">Sample</a> -->
        <div class="custom-file">
          <input type="file" (change)="handleFileInput($event.target.files)" id="fileupload" class="custom-file-input"
            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
          <label class="custom-file-label" for='fileupload'></label>
        </div>
        <div class="input-group">
          <span>{{fileName}}</span>
        </div>
        <div class="input-group">
          <span style="color: #dc3545;" *ngIf="IsValidFile">{{errorMsg}}</span>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary btn-sm" [disabled]="IsValidFile" (click)="downloadTemplate()">Download
      Template</button>
    <button type="button" class="btn btn-primary btn-sm" [disabled]="IsValidFile" (click)="viewBulkLogRecord()">View
      Log</button>
    <button type="button" class="btn btn-primary btn-sm" [disabled]="IsValidFile" (click)="upload()">Upload</button>
  </div>
</ng-template>
<ng-template #proceedManagement let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Proceeds Management</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label class="input-label">Proceeds Due Date</label>
        <div class="input-group">         
          <input class="form-control" rInputMask="99/99/9999" placeholder="dd/mm/yyyyy" name="dp" ngbDatepicker [(ngModel)]="datemodel" 
            #d="ngbDatepicker" (ngModelChange)="ValidateDueDate(datemodel)"><br/>
            
          <div class="input-group-append">
            <button class="btn btn-sm btn-outline-secondary calendar" (click)="d.toggle()" type="button">
              <i class="far fa-calendar-alt"></i></button>
          </div>
        </div>        
        <div><span *ngIf="errorMessage!=''" style="color:red;">{{errorMessage}}</span></div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary btn-sm" (click)="updateDueDatefromPMgt()" [disabled]="errorMessage!=''">Save</button>
  </div>
</ng-template>