<div *ngIf="dataSource">
    <table class="basicTable stripped" style="border-top:0;border-right:0;border-left:0;">
        <thead cdkDropListGroup>
            <tr>
                <th *ngIf="headerMap?.config.header.action.Checkbox" style="width:30px">
                    <label class="inline-checkbox ml-2" [style.width.%]="'1%'">
                        <input type="checkbox" name="chkboxlist" id="selectAll" [(ngModel)]="selectedAll"
                            (ngModelChange)="selectAllCheckBox()">
                        <i class="skin"></i>
                    </label>
                </th>
                <!-- All Action Buttons (Edit, Delete, Copy) -->
                <th *ngIf="headerMap?.config.header.action.Edit || headerMap?.config.header.action.Delete"
                    [ngStyle]="{'width.px': actionWidth}">
                    <span class="colHead">Actions</span>
                </th>
                <!-- Close All Action Buttons (Edit, Delete, Copy) -->
                <th *ngIf="sNo" style="width: 40px">
                    <span class="colHead">S. No.</span>
                </th>
                <th *ngIf="((headerMap?.config.header.action.Link || headerMap?.config.header.action.DropDown) &&
                       (!headerMap?.config.header.action.Link.Placement || headerMap?.config.header.action.Link.Placement=='Left' || !headerMap?.config.header.action.DropDown.Placement || headerMap?.config.header.action.DropDown.Placement=='Left'))"
                    style="width: 50px">
                    <span>Action</span>
                </th>
                <th *ngFor="let key of headerMap?.config.header.columns; let i = index" width={{key.width}}>
                    <!-- <i class="fas fa-sort"></i> -->
                    <span class="colHead header" (click)="sort(i, sortType)">{{key.displayName}}</span>
                    <div *ngIf="headerMap?.config.header.columnFilter" ngbDropdown class="grid-filter-wrap"
                        #ColumnFilterDropdown="ngbDropdown">
                        <div class="" id="dropdownBasic1" ngbDropdownToggle>
                            <img (click)="bindColumnFilterDdl(i)" alt="" src="assets/styles/images/arrange-arrow.png">
                        </div>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <ul class="list-unstyled">
                                <li class="" role="menuitem">
                                    <a href="javasript: void(0)" (click)="sort(i, 'asc', ColumnFilterDropdown)">
                                        <div class="fas fa-sort-alpha-down"></div> Sort Ascending
                                    </a>
                                </li>
                                <li class=" " role="menuitem">
                                    <a href="javasript: void(0)" (click)="sort(i, 'desc', ColumnFilterDropdown)">
                                        <div class="fas fa-sort-alpha-up"></div> Sort Descending
                                    </a>
                                </li>
                                <li class=" " id=" " role="menuitem">
                                    <a href="javasript: void(0)"
                                        (click)="onAction(i, 'Remove Sort', ColumnFilterDropdown)">
                                        <div class="fas fa-random"></div> Remove Sort
                                    </a>
                                </li>
                                <li type="separator" class="li-separator" role="menuitem"></li>
                                <li>
                                    <form #tblFilterForm #f="ngForm" id='frm_{{i}}'
                                        (ngSubmit)="f.form.valid && onFilterClick(i, tblFilterForm, 'Filter_Click', ColumnFilterDropdown )">
                                        <div class="filter" style="height: 18px; margin-top: 3px; margin-bottom: 3px;">
                                            Show rows
                                            where:</div>
                                        <!-- Check box html code and condition -->
                                        <div *ngIf="key.dataType === 'Checkbox' else OtherColumnFilter">
                                            <input type="hidden" value="or" />
                                            <div class="list-group">
                                                <ul style="width: 200px;" class="list-unstyled list-group">
                                                    <!-- <li [hidden]="showItemLoading" class="dropdown-item text-center" class="list-group-item"><i
                                    class="fas fa-circle-notch fa-spin nomar" style="font-size:18px"></i></li> -->
                                                    <li
                                                        *ngFor="let conditionType of headerMap?.config.header.columnFilter['colData_' +i]">
                                                        <input type="checkbox" name="filterValue1"
                                                            class="checkbox checkboxMargin" [value]="conditionType.key">
                                                        <span>
                                                            {{conditionType.value}}
                                                        </span>
                                                    </li>
                                                    <li type="separator" class="li-separator" role="menuitem"></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- Check box html code and condition -->

                                        <ng-template #OtherColumnFilter>
                                            <div class="form-group">
                                                <select class="form-control" style="width: 200px;"
                                                    name="ConditionOpt1" #ConditionOpt1
                                                    [ngClass]="{ 'is-invalid': f.submitted && ConditionOpt1.value == 'Select...'}"
                                                    required>                                                   
                                                    <option
                                                        *ngFor="let conditionType of headerMap?.config.header.columnFilter['colData_' +i]"
                                                        [value]="conditionType.key">{{conditionType.value}}</option>
                                                </select>
                                            </div>
                                            <div class="form-group" *ngIf="key.dataType=='Date'">
                                                <div class="input-group">
                                                    <input class="form-control"
                                                        placeholder="dateFormat" name="filterValue1" ngbDatepicker
                                                        #d="ngbDatepicker" #filterValue1
                                                        [ngClass]="{ 'is-invalid': f.submitted  && filterValue1.value == ''  }"
                                                        required>
                                                    <div class="input-group-append">
                                                        <button class="btn btn-sm btn-outline-secondary calendar"
                                                            (click)="d.toggle()" type="button"><i _ngcontent-lcu-c9=""
                                                                aria-hidden="true"
                                                                class="far fa-calendar-alt"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" *ngIf="key.dataType != 'Date'">
                                                <input type="text" class="form-control"
                                                    name="filterValue1" placeholder="Filter Value" #filterValue1
                                                    [ngClass]="{ 'is-invalid': f.submitted  && filterValue1.value == ''  }"
                                                    required style="width: 200px;">
                                            </div>
                                            <div class="form-group">
                                                <!-- [ngClass]="{ 'is-invalid': f.submitted && logicalOpt.value == 'Select...' }" required -->
                                                <select class="form-control" style="width: 200px;"
                                                    name="logicalOpt" #logicalOpt>
                                                    <option>Select...</option>
                                                    <option value="OR" selected>Or</option>
                                                    <option value="AND">AND</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <select class="form-control" style="width: 200px;" name="ConditionOpt2" #ConditionOpt2>
                                                    <option
                                                        *ngFor="let conditionType of headerMap?.config.header.columnFilter['colData_' +i]"
                                                        [value]="conditionType.key">{{conditionType.value}}</option>
                                                </select>
                                            </div>
                                            <div class="form-group" *ngIf="key.dataType=='Date'">
                                                <div class="input-group">
                                                    <input class="form-control" name="filterValue2" #filterValue2
                                                        placeholder="dateFormat"  ngbDatepicker
                                                        #d="ngbDatepicker">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-sm btn-outline-secondary calendar"
                                                            (click)="d.toggle()" type="button"><i _ngcontent-lcu-c9=""
                                                                aria-hidden="true"
                                                                class="far fa-calendar-alt"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" *ngIf="key.dataType != 'Date'">
                                                <input type="text" class="form-control" name="filterValue2" #filterValue2
                                                    placeholder="Filter Value" style="width: 200px;">
                                            </div>
                                        </ng-template>
                                        <div>
                                            <button type="submit" class="btn btn-primary btn-sm">Filter</button>
                                            <button type="reset" class="btn btn-secondary btn-sm float-right"
                                                (click)="onFilterClick(i, tblFilterForm,'FilterClear_Click', ColumnFilterDropdown)">Clear</button>
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                <th *ngIf="((headerMap?.config.header.action.Link || headerMap?.config.header.action.DropDown)  && ( headerMap?.config.header.action.Link.Placement=='Right' || headerMap?.config.header.action.DropDown.Placement=='Right'  ) )"
                    style="width: 50px">
                    <span class="colHead">Action</span>
                </th>
            </tr>
        </thead>
        <tbody *ngIf="dataSource?.length == 0">
            <tr>
                <td [colSpan]="colSpan" class=" text-center">No Data Found</td>
            </tr>
        </tbody>
        <tbody *ngIf="dataSource?.length>0">
            <tr *ngFor="let data of dataSource; let i = index" [ngClass]="data['selected']?'active':''">
                <td *ngIf="headerMap?.config.header.action.Checkbox">
                    <label class="inline-checkbox ml-2">
                        <input type="checkbox" name="chkboxlist" [(ngModel)]="data.selected"
                            (ngModelChange)="checkIfAllSelected()">
                        <i class="skin"></i>
                    </label>
                </td>
                <!-- All Action Buttons (Edit, Delete, Copy) -->
                <td
                    *ngIf="headerMap?.config.header.action.Edit || headerMap?.config.header.action.Cancel || headerMap?.config.header.action.Cancel">
                    <div class="action-btns">
                        <a href="javascript:void(0)" (click)="data.isEdit = true;"
                            *ngIf="headerMap?.config.header.action.Edit && !data.isEdit" title="Edit">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                        <a href="javascript:void(0)" (click)="onDataAction(i, 'Save', data)"
                            *ngIf="headerMap?.config.header.action.Save && data.isEdit" title="Save">
                            <i class="fas fa-save"></i>
                        </a>
                        <a href="javascript:void(0)" (click)="data.isEdit = false;"
                            *ngIf="headerMap?.config.header.action.Cancel && data.isEdit" title="Cancel">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                </td>
                <!-- Close All Action Buttons (Edit, Delete, Copy) -->
                <td *ngIf="sNo">
                    {{ (((itemsPerPage > 0 ? itemsPerPage : pageSizeOptions[0]) * (currentPage-1)) + i) + 1 }}</td>
                <td *ngIf="((headerMap?.config.header.action.Link || headerMap?.config.header.action.DropDown)  && (!headerMap?.config.header.action.Link.Placement || headerMap?.config.header.action.Link.Placement=='Left' || 
              !headerMap?.config.header.action.DropDown.Placement || headerMap?.config.header.action.DropDown.Placement=='Left'))"
                    style="width: 40px">
                    <a href="javascript:void(0)" (click)="onRowClick(i, data)"
                        *ngIf="headerMap?.config.header.action.Link && (!headerMap?.config.header.action.Link.Placement || headerMap?.config.header.action.Link.Placement=='Left')">View</a>
                    <div *ngIf="headerMap?.config.header.action.DropDown.Action && (!headerMap?.config.header.action.DropDown.Placement || headerMap?.config.header.action.DropDown.Placement=='Left')"
                        class="moreDots">
                        <div ngbDropdown>
                            <button class="btn btn-outline-primary" ngbDropdownToggle>{{selectedAllMyRecordFilter}}</button>
                            <ul ngbDropdownMenu>
                                <li ngbDropdownItem
                                    *ngFor="let actions of headerMap.config.header.action.DropDown.Action">
                                    <a ngbDropdownItem *ngFor="let key of actions | keyvalue"
                                        (click)="key.value(data)">{{key.key}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td *ngIf="headerMap?.config.header.action.Placement=='Left'" style="width: 40px">
                    <a href="javascript:void(0)" (click)="onRowClick(i, data)"
                        *ngIf="headerMap.config.header.action.Link">View</a>
                </td>
                <td *ngFor="let key of headerMap?.config.header.columns;">
                    <!-- <div [innerHTML]="getValue(key, data)"></div> -->
                    <span
                        *ngIf="headerMap?.config.header.action.Link && headerMap?.config.header.action.Link.Placement==key.objectKey; else simpledata">
                        <span *ngFor="let action of headerMap.config.header.action.Link.Action | keyvalue">
                            <a href="javascript:void(0)" (click)="action.value(data)">{{data[key.objectKey]}}</a>
                        </span>

                        <a href="javascript:void(0)" (click)="onRowClick(i, data)"
                            *ngIf="headerMap.config.header.action.Link && !headerMap.config.header.action.Link.Action">View</a>
                    </span>
                    <ng-template #simpledata>
                        <div [ngSwitch]="key.dataType">
                            <span *ngSwitchCase="'Date'">{{ convertToLocalDataAndTime(data[key.objectKey],  key.format, key.timeZone) }}</span>
                            <span *ngSwitchCase="'Link'">
                                <a (click)="onAction(i, 'Link')" href="javascript:void(0)">{{ data[key.objectKey] }}</a>
                            </span>
                            <span *ngSwitchCase="'TextWithColor'" [ngStyle]="{ 'color': getColorName(key,i) }">
                                <input
                                    type="text"
                                    class="form-control"
                                    *ngIf="EditColumnList.includes(key.objectKey) && data.isEdit"
                                    id="textBox_{{i}}_{{key.objectKey}}"
                                    [(ngModel)]="data[key.objectKey]">
                                <div *ngIf="!EditColumnList.includes(key.objectKey) && data.isEdit" class="content-text">{{ data[key.objectKey] }}</div>
                                <div *ngIf="!data.isEdit" class="content-text">{{ data[key.objectKey] }} </div>
                            </span>
                            <span *ngSwitchCase="'LinkWithSpecialChar'">
                                <a href="javascript:void(0)" (click)="onAction(i, 'SpecialCharClick')"> {{ key.SpecialChar }} </a>
                            </span>
                            <span *ngSwitchCase="'TextWithOtherColumn'">{{ data[key.objectKey] +', ' + data[key.OtherColumn] }}</span>
                            <span *ngSwitchCase="'TextWithSeparator'">
                                <a href="javascript:void(0)" placement="bottom" [ngbPopover]="tipContent" triggers="mouseenter:mouseleave">{{ textSeprator(data[key.objectKey], key.separator) }}</a>
                            </span>
                            <span *ngSwitchCase="'ColorCodeStatus'" class="color-code" [ngStyle]="{'background': data[key.objectKey]=='1'?'GREEN':'RED'}"></span>
                            <span *ngSwitchDefault>{{data[key.objectKey]}}</span>
                        </div>
                    </ng-template>
                    <ng-template #tipContent>
                        <div [innerHTML]="textSepratorHover(data[key.objectKey], key.separator)"></div>
                    </ng-template>
                </td>
            </tr>
            <!-- <tr>
                <td [colSpan]="colSpan" [ngStyle]="{'height.px': 50}">
                                        
                </td>
            </tr> -->
        </tbody>
    </table>
    <table class="totalTable" [ngStyle]="{'height.px': 50}">
        <tr>
            <td rowspan="2">Totals</td>
            <td>{{TotalDetails.Lots}}</td>
            <td>{{TotalDetails.TotalQty}}</td>
            <td>{{TotalDetails.TotalKg}}</td>
            <td>{{TotalDetails.PriceGST}}</td>
        </tr>
        <tr>
            <td>Lots</td>
            <td>Total Qty</td>
            <td>Total Kg</td>
            <td>Price ex. GST</td>
        </tr>
    </table>

    <!--Grid Paging-->
    <nav aria-label="Page navigation" *ngIf="headerMap?.config.paging && itemsCount != 0">
        <div class="filter_pagination justify-content-end">
            <div>
                <div class="input-group">
                    <div>Go to page :</div>
                    <input class="gotoPage" #pageSelect type="number" min="1"  (change)="goToPage(pageSelect.value)" [value]="currentPage">
                </div>
            </div>
            <div class="selectListing">
                <div class="input-group">
                    <div>Show Rows:</div>
                    <div ngbDropdown>
                        <button class="btn btn-outline-primary" ngbDropdownToggle>{{itemsPerPage > 0 ? itemsPerPage : pageSizeOptions[0]}}</button>
                        <ul ngbDropdownMenu aria-labelledby="dropdownCustomFilter">
                            <li *ngFor="let item of pageSizeOptions;let i = index" ngbDropdownItem value={{item}}
                                id="pageSizeOptionsName" (click)="pageChangeClick(item)">{{item}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div>
                <div class="input-group">
                    <div style="padding-right:0px;"> {{first}} - {{last}} of {{itemsCount}}</div>
                </div>
            </div>
            <!--Previous button-->
            <div class="nxt_prvWrap">
                <a [id]="prevName" tabindex="-1" title="Previous" (click)="previousPage($event)"><i
                        aria-label="Left arrow" class="fas fa-angle-left" role="img"></i></a>
            </div>

            <!--Next Button-->
            <div class="nxt_prvWrap">
                <a [id]="nextName" title="Next" (click)="nextPage($event)" tabindex="-1"><i aria-label="Right arrow"
                        class="fas fa-angle-right" role="img"></i></a>
            </div>
        </div>
    </nav>

</div>