<div class="whiteBgSection termsWrap">
    <h1 class="FR25">Terms and Conditions</h1>
    <ol>
        <li>DEFINITIONS AND INTERPRETATION
            <ol>
                <li>In this Agreement:
                    <ol>
                        <li><strong>Agent</strong> means Nutrien Ag Solutions Limited (ACN 008 743 217) and includes its related bodies corporate (as defined in the Corporations Act 2001 (Cth));</li>
                        <li><strong>Aus-Meat Code</strong> means the Code of Practice for Over-the-Hooks trading to Aus-Meat Accredited Abattoirs;</li>
                        <li><strong>Aus-Meat Language</strong> means the current Aus-Meat Language published by Aus-Meat from time to time and for the time being Information Manual Vol. I & II, May 1994;</li>
                        <li><strong>Business Day</strong> means a day that is not a Saturday, Sunday or public holiday or bank holiday in Melbourne;</li>
                        <li><strong>Commencement Date</strong> means the date of commencement of this Agreement;</li>
                        <li><strong>Commission</strong> means the commission set out on the front page, if no commission rate specified then commission will be charged at 5.7%;</li>
                        <li><strong>Delivery Date</strong> means the agreed delivery date set out on the front page;</li>
                        <li><strong>Delivery Point</strong> means the agreed delivery address set out on the front page;</li>
                        <li><strong>Due Date</strong> means the date 7 days from the date on the invoice issued to the Purchaser under this Agreement or such other date as mutually agreed between the parties in writing.</li>
                        <li><strong>Fees</strong> means all levies, charges, fees, costs and other expenses incurred or relating to this Agreement and the sale and purchase of Livestock including, without limitation, transaction levies, yard and weigh dues, cartage, advertising and rebates, and whether paid for, or incurred, by the Agent on behalf of the Vendor or Purchaser;</li>
                        <li><strong>Insolvency Event</strong> means:
                            <ol>
                                <li>in relation to a body corporate, a liquidation or winding up, the appointment of a controller, administrator, receiver, manager or similar insolvency administrator to a party or any substantial part of its assets or the entering into a scheme or arrangement with creditors or the occurrence of any event that has a substantially similar effect to any of these events;</li>
                                <li>in relation to an individual, becoming bankrupt or entering into a scheme or arrangement with creditors or the occurrence of any event that has a substantially similar effect to any of these events; or</li>
                                <li>in relation to a trust, the making of an application or order in any court for accounts to be taken in respect of the trust or for any property of the trust to be brought into court or administered by the court under its control or the occurrence of any event that has a substantially similar effect to any of these events;</li>
                            </ol>
                        </li>
                        <li><strong>Livestock</strong> means the animals the subject of this Agreement;</li>
                        <li><strong>Loss</strong> means any loss including any liability, cost, expense (including legal costs on a full indemnity basis), claim, proceeding, action, demand or damage;</li>
                        <li><strong>Personal Property Securities Register</strong> has the meaning given in the PPSA;</li>
                        <li><strong>PPSA</strong> means the Personal Property Securities Act 2009 (Cth);</li>
                        <li><strong>Price</strong> means the sum set out in the invoice issued under this Agreement which reflects the sum set out in this Agreement as adjusted (if necessary) in accordance with this Agreement;</li>
                        <li><strong>Taxable Supply</strong> has the meaning given to it in A New Tax System (Goods and Services Tax) Act 1999 (Cth).</li>
                    </ol>
                </li>
                <li>In this Agreement, unless otherwise indicated by the context:
                    <ol>
                        <li>an expression importing a natural person includes a body corporate, partnership, joint venture, association or other legal entity;</li>
                        <li>the word ‘including’ is not an exhaustive or exclusive list and is without limitation;</li>
                        <li>a reference to a party includes that party’s legal personal representatives, successors and permitted assigns;</li>
                        <li>a capitalised word or phrase used in reference to legislation has the meaning given to it in that legislation; and</li>
                        <li>a covenant or agreement on the part of or for the benefit of two or more persons binds or benefits them jointly and severally</li>
                    </ol>
                </li>
            </ol>
        </li>
        <li>APPLICATION OF THE AUS-MEAT CODE
            <ol>
                <li>In addition to this Agreement, the terms and conditions contained in the Aus-Meat Code apply to the Livestock sale unless expressly excluded. If the Purchaser is not Aus-Meat accredited the Aus-Meat Code does not apply except to the extent that it can and does apply to non-accredited Aus-Meat entities and such application is usual practice in the industry. In the event of any inconsistency or conflict between this Agreement and the Aus-Meat Code this Agreement prevails to the extent of the inconsistency or conflict</li>
            </ol>
        </li>
        <li>THE KEY TERMS OF THE LIVESTOCK SALE
            <ol>
                <li>The Vendor must sell and the Purchaser must purchase the Livestock for the Price.</li>
                <li>the Agent will issue an invoice to the Purchaser setting out the Price and the Purchaser must pay to the Agent the Price in full in immediate funds or such other payment method as agreed by the Agent on or before the Due Date.</li>
                <li>This Agreement does not render the Agent liable to the Purchaser as Vendor nor entitle the Purchaser to set off against money or obligation owed to the Agent any right that the Purchaser may have against the Vendor or otherwise.</li>
            </ol>
        </li>
        <li>VENDOR – KEY TERMS
            <ol>
                <li>Until delivery the Vendor must upon receipt of reasonable notice by the Purchaser allow the Purchaser to inspect the Livestock on the date and at the address set out on the front page and must hold the Livestock at the address set out on the front page.</li>
                <li>The Vendor must deliver the Livestock to the Delivery Point on the Delivery Date.</li>
                <li>The Vendor must provide the Purchaser with all relevant industry and statutory declarations relevant to the Livestock.</li>
                <li>The Vendor must take all reasonable care in the production of the Livestock having regard to the code of accepted farming practice published by the State of Victoria, Department of Primary Industries, and made under section 7 of the Prevention of Cruelty to Animals Act 1986 (Vic) as applicable from time to time.</li>
                <li>The Purchaser may request in writing that additional action be taken by the Vendor in relation to the Livestock. The Purchaser agrees that it will reimburse the Vendor’s reasonable costs of taking such additional action, which must be agreed to in writing between the parties prior to any action being taken.</li>
                <li>Where the Purchaser rejects an animal in accordance with this Agreement, title to the animal remains with the Vendor and the Vendor must either:
                    <ol>
                        <li>within 2 Business Days negotiate a sale of the animal with the Purchaser; or</li>
                        <li>promptly remove the animal from the Delivery Point and deliver to the Purchaser as soon as practicable such number of animals that is equal to the number of animals rejected and/or the Price will be adjusted accordingly.</li>
                    </ol>
                </li>
                <li>The Vendor irrevocably appoints the Agent as the Vendor’s attorney to:
                    <ol>
                        <li>do at any time and in any manner as the Agent thinks fit all acts necessary or desirable to perfect or improve the rights and interests afforded, or intended to be afforded, to the Vendor or the Agent (or both) under this Agreement; and</li>
                        <li>appoint one or more sub-attorneys to do anything that the Agent may do as the Vendor’s attorney</li>
                    </ol>
                </li>
            </ol>
        </li>
        <li>PURCHASER – KEY TERMS
            <ol>
                <li>The Purchaser must take delivery of the Livestock at the Delivery Point on the Delivery Date. If the Purchaser does not do so it must, in addition to any other rights or remedies available to the Agent or the Vendor, indemnify the Vendor and the Agent against all Loss suffered or incurred by them as a result of the Purchaser’s failure to take delivery.</li>
                <li>The Purchaser must pay all amounts payable to the Vendor or the Agent under this Agreement without any deduction, withholding, set off or counterclaim whatsoever.</li>
                <li>If the Purchaser does not pay the Price in full by the Due Date then, in addition to the Price, the Purchaser must pay interest on the Price (or the unpaid portion of the Price) at the agreed rate of 18% from the Due Date until payment is made in full. The Purchaser must indemnify the Vendor and the Agent against all Loss suffered by either of them and arising from the Purchaser’s failure to pay the Price in full by the Due Date.</li>
                <li>If the Purchaser fails or refuses to accept delivery of the Livestock or if either the Vendor or the Agent retakes possession of the Livestock under this Agreement, the Vendor or the Agent may resell the Livestock as they see fit and the Purchaser must indemnify the Vendor and the Agent against all Loss suffered by either of them as a result. In addition, the Purchaser must promptly pay, and the Vendor and/or the Agent may recover, any shortfall in Price (including costs) arising from such resale as liquidated damages from the Purchaser.</li>
                <li>The Purchaser may reject lame, blind or diseased animals provided that the condition existed prior to the Delivery Date and may reject any animal which fails to meet any requirements set out in this Agreement. The Purchaser must give the Vendor and the Agent written notice of the particulars of any proposed rejection within 2 Business Days from the date of delivery, otherwise the Purchaser is deemed to have accepted the condition of the Livestock as delivered.</li>
            </ol>
        </li>
        <li>NUTRIEN – KEY TERMS
            <ol>
                <li>The Agent will pay the Vendor the Price for the Livestock by the Due Date. the Agent is not obliged to pay the Vendor if the Purchaser has paid the Vendor the Price or if any of the parties have given the other parties written notice of a dispute in accordance with clause 14 of this Agreement.</li>
                <li>If the Purchaser pays the Price or part of the Price direct to the Vendor then the Agent has no liability to the Vendor for that amount. If the Agent pays the Vendor any amount which the Purchaser also pays direct to the Vendor in respect of the same Livestock, then the Vendor must promptly repay the Agent that amount.</li>
                <li>The Agent is entitled to debit the amount of the Commission and the Fees to an account held by the Vendor with the Agent and/or to deduct the amount of the Commission and the Fees from any amount payable by the Agent to the Vendor under this Agreement.</li>
                <li>the Agent may at any time, assign, transfer, securitise or otherwise dispose of all or any of its rights under this Agreement and any debts created pursuant to it.</li>                
            </ol>
        </li>
        <li>TITLE TO AND RISK IN THE LIVESTOCK
            <ol>
                <li>The Vendor warrants it is, and will be at the Delivery Date, the legal and beneficial owner of the Livestock and that the Livestock are not and will not at the Delivery Date be subject to any lien, charge, mortgage or other encumbrance whatsoever.</li>
                <li>Property and title in and to the Livestock only passes to the Purchaser upon payment by the Purchaser of the Price in full by the Due Date. If the Purchaser obtains possession of any Livestock before full payment of the Price then, until full payment of the price is received, the Purchaser:
                    <ol>
                        <li>does not acquire title to any Livestock;</li>
                        <li>holds the Livestock as bailee only for the Vendor;</li>
                        <li>must act in a fiduciary capacity in its relationship with the Vendor;</li>
                        <li>must store the Livestock separately or so that they are readily distinguishable from other livestock owned by the Purchaser; and</li>
                        <li>is responsible for the safety and wellbeing of the Livestock at its risk and cost.</li>
                    </ol>
                </li>
                <li>Risk in the Livestock passes to the Purchaser on delivery at the Delivery Point, unless otherwise agreed in writing. The Purchaser must after delivery at its own expense keep and maintain the Livestock in the condition they were in on delivery, run the Livestock according to good husbandry practices ensuring adequate feed and water supply, promptly treat or have treated by a veterinary surgeon all animals affected by illness or disease, remove all diseased animals and promptly dispose of the carcasses of all animals that die until payment in full of the Price.</li>
                <li>When the Agent pays the Vendor the Price, title to the Livestock does not pass to the Agent or a nominee of the Agent unless the Agent notifies the Vendor in writing that title is to be transferred to the Agent or a nominee of the Agent.</li>
            </ol>
        </li>
        <li>PPSA
            <ol>
                <li>The Purchaser:
                    <ol>
                        <li>acknowledges that for the purposes of section 20 of the PPSA this Agreement constitutes a Security Agreement and a Security Interest exists in favour of the Vendor;</li>
                        <li>will execute documents and do such further acts as may be required by the Vendor and the Agent to register the Security Interest granted to the Vendor under this Agreement in accordance with the PPSA;</li>
                        <li>acknowledges that it has received value as at the Commencement Date and that it has not agreed to postpone the time for attachment of the security interest granted to the Agent under this Agreement;</li>
                        <li>agrees that until ownership of the Livestock passes, the Purchaser waives its rights under the following provisions of Part 4 of the PPSA
                            <ol>
                                <li>to receive a notice of intention of removal of an Accession (as defined in the PPSA) (section 95);</li>
                                <li>the disposal of Collateral (as defined in the PPSA) (section 128);</li>
                                <li>to receive a notice of disposal by purchase (section 129);</li>
                                <li>to receive a notice of disposal (section 130);</li>
                                <li>to receive contents of a statement of account following disposal (section 132(3)(d));</li>
                                <li>to receive a statement of account if no disposal (section 132(4));</li>
                                <li>to receive notice of retention (section 135);</li>
                                <li>to object to any proposal to either retain or dispose (section 137(2));</li>
                                <li>to redeem (section 142);</li>
                                <li>to reinstate the Security Agreement (as defined in the PPSA) (section 143);</li>
                                <li>to receive a notice of any Verification Statement (as defined in the PPSA) (section 157(1) and section 157(3)); and</li>
                            </ol>
                        </li>
                        <li>must keep full and complete records of the Livestock;</li>
                        <li>must not without the prior written consent of the Vendor and the Agent, sell, lease, dispose of, create a security interest in, mortgage or part with possession of the Livestock or any interest in them (or purport or attempt to purport to do such thing) or permit any lien over the Livestock;</li>
                        <li>must not change its name, address or contact details without providing the Vendor and the Agent with prior written notice;</li>
                        <li>must not register a financing change statement or a change demand without the prior written consent of the Vendor and the Agent;</li>
                        <li>authorises the Vendor and the Agent to apply any money the Vendor and the Agent receive from the Purchaser towards debts, charges and expenses (including legal costs incurred by the Vendor and the Agent) in any priority the Vendor and the Agent determine in their sole discretion for whatever reason, including to maintain the security interest in the Livestock created by this Agreement; and</li>
                        <li>further agrees that where the Vendor and the Agent have rights in addition to those under Part 4 of the PPSA, those rights will continue to apply.</li>
                    </ol>
                </li>
                <li>If the Purchaser fails to comply with any term of this Agreement or if the Purchaser suffers an Insolvency Event, the Vendor or the Agent may exercise any and all remedies afforded to a secured party under the PPSA and the Purchaser irrevocably grants to the Vendor or the Agent the right to enter upon the Purchaser’s property or premises without notice and to search for, inspect and to re-take possession of the Livestock.</li>
            </ol>
        </li>
        <li>SUBROGATION TO AND ASSIGNMENT OF VENDOR RIGHTS
            <ol>
                <li>In consideration of the Agent agreeing to pay the Price to the Vendor under this Agreement subject to clause 6.1 and 14.4, the Vendor assigns to the Agent all its rights, title and interest in the debt owed by the Purchaser to the Vendor, and all the benefit of all other rights owed by the Purchaser to the Vendor under this Agreement.</li>
                <li>The Purchaser acknowledges the assignment in the preceding clause and agrees that the Agent may exercise any of the rights granted to the Agent by the Vendor under this Agreement on behalf of the Vendor including but not limited to the registration and enforcement of any security interest under the PPSA.</li>
                <li>When the Agent pays the Vendor the Price, in addition to any rights of the Agent that arise by operation of law, the parties agree that the Agent is subrogated to all rights of the Vendor under this Agreement against the Purchaser.</li>
                <li>The Vendor acknowledges that the Agent may take enforcement, repossession or other action to recover any Livestock for which the Purchaser has not paid in full on the following basis:
                    <ol>
                        <li>where the Vendor has not yet been paid the Price – as agent of the Vendor (including by reselling the Livestock); and</li>
                        <li>where the Agent has paid the Vendor the Price – on the Agent’s own exercising the rights of the Vendor by subrogation or assignment under this Agreement (including by selling the Livestock without the Agent having to account to the Vendor for the proceeds of sale).</li>
                    </ol>
                </li>
            </ol>
        </li>
        <li>LIVESTOCK FOR SLAUGHTER PURPOSES
            <ol>
                <li>This clause applies only to Livestock delivered under this Agreement for slaughter purposes.</li>
                <li>The Price payable by the Purchaser will be determined by the grading of carcasses, such carcasses to be inspected by the Purchaser’s representative upon slaughter in accordance with Aus-Meat Language descriptions.</li>
                <li>The Purchaser must:
                    <ol>
                        <li>permit the Vendor to view the slaughter or to inspect the carcasses within 12 hours of slaughter; and</li>
                        <li>provide the Vendor with Aus-Meat slaughter floor data within 12 hours of slaughter; and</li>
                        <li>chiller assessment data (if assessed) for every animal delivered pursuant to this Agreement within 24 hours of slaughter (and must provide a hard copy of this data within 7 days of slaughter).</li>
                        <li>If the Vendor disagrees with the decision of the Purchaser’s representative as to the grading of any carcass, the Vendor may at its cost require inspection and grading by an independent third party, which grading will be final and binding on the parties. If the independent third party makes a decision that is more favourable to the Vendor than the original decision by the Purchaser’s representative, the costs of the independent third party (if any) are to be shared equally by the Vendor and the Purchaser.</li>
                    </ol>
                </li>
            </ol>
        </li>
        <li>LIVESTOCK SHORTFALL
            <ol>
                <li>Subject to the Purchaser’s rights to reject Livestock under this Agreement, the Purchaser must accept any number of Livestock mustered for delivery except that it is not obliged to accept Livestock if the numbers vary by greater than 10% of the number set out on the front page.</li>
                <li>If there is a shortfall in the number of Livestock delivered and that shortfall is greater than 10%, the Purchaser must refer any dispute over the alleged shortfall to the dispute resolution provisions set out in clause 14.</li>
                <li>If there is a shortfall in the number of Livestock delivered and that shortfall is equal to or less than 10%, and the Purchaser gives notice in writing to the Vendor within 24 hours of the Delivery Date that there is a shortfall in the number of Livestock delivered, the Vendor must within 7 days of receipt of such notice either deliver to the Purchaser such number of animals that is equal to the shortfall or the Price will be adjusted accordingly.</li>
            </ol>
        </li>
        <li>FORCE MAJEURE
            <ol>
                <li>If a party is prevented from performing its obligations (other than an obligation to pay money) under this Agreement by circumstances beyond that party’s reasonable control, that party will not be in breach of this Agreement for the duration of those circumstances and the time for performance of its obligations will be extended accordingly. The affected party must give prompt written notice of the circumstances beyond its control and must take all necessary and reasonable steps to mitigate or reduce the delay in performing its obligations. If the circumstances persist for 30 days or more, a party may by notice in writing to the other parties terminate this Agreement in which case all obligations under this Agreement are at an end and, other than accrued rights as at the date of termination, no party is liable to any other party under this Agreement and each party must bear its own costs.</li>
            </ol>
        </li>
        <li>GST
            <ol>
                <li>Unless otherwise stated, all prices, rates, fees and charges set out in this Agreement are exclusive of GST.</li>
                <li>A party must pay GST on a Taxable Supply made to it under this Agreement in addition to any consideration (excluding GST) that is payable for that Taxable Supply. It must do so at the same time and in the same way as it is required to pay the consideration for the Taxable Supply.</li>
                <li>A party making a Taxable Supply to another party under this Agreement must issue a Tax Invoice to the other party, setting out the amount of the GST payable by that other party.</li>
                <li>For the purposes of this clause “GST”, “Taxable Supply” and “Tax Invoice” have the meaning attributed to those terms in A New Tax System (Goods and Services Tax) Act 1999.</li>
            </ol>
        </li>
        <li>DISPUTE RESOLUTION
            <ol>
                <li>Prior to commencing any action under this Agreement through the courts, any dispute or difference arising out of or in connection with this Agreement or its subject matter will:
                    <ol>
                        <li>upon provision of a written notice of dispute, be resolved by discussion between the representatives of each party named on the front page; then</li>
                        <li>if the dispute is not settled by the representatives of the parties within 14 Business Days of the notice of dispute, by discussion between the managing directors (or people of equivalent position) of each party; then</li>
                        <li>if the dispute is not settled by the managing directors (or people of equivalent position) of the parties within 28 Business Days of the notice of dispute, by mediation in the State of Victoria by a mediator nominated by the Australian Commercial Disputes Centre (“ACDC”) for resolution in accordance with the mediation rules of ACDC.</li>
                    </ol>
                </li>
                <li>The cost of any mediation will be shared equally between the parties.</li>
                <li>Nothing in this clause prevents or restricts a party from seeking urgent interlocutory or injunctive relief and, subject to termination of this Agreement by a party according to its terms or at law, each party must continue to perform its obligations under this Agreement during and notwithstanding the existence of any dispute.</li>
                <li>For the avoidance of doubt, in the event of a dispute under this Agreement or its subject matter, the obligation for the Agent to pay the Vendor the Price in accordance with clause 6.1 of this Agreement will not apply.</li>
            </ol>
        </li>
        <li>TERMINATION
            <ol>
                <li>Without limiting the parties’ rights under this Agreement, the Vendor and/or the Agent may terminate this Agreement with immediate effect by giving written notice to the Purchaser if:
                    <ol>
                        <li>an Insolvency Event occurs in respect of the Purchaser; or</li>
                        <li>the Purchaser materially breaches this Agreement and fails to correct the breach within 48 hours after notice of that breach from the Vendor and/or the Agent. Without limiting the above, the following matters shall constitute a material breach of this Agreement:
                            <ol>
                                <li>the Purchaser is outside or in breach of its trading terms and/or limit with the Agent; or</li>
                                <li>any warranty or representation given by the Purchaser to the Vendor and/or the Agent or the Vendor to the Purchaser in connection with the livestock and/or this Agreement is materially false or misleading.</li>
                            </ol>
                        </li>
                    </ol>
                </li>
            </ol>
        </li>
        <li>LIABILITY
            <ol>
                <li>Except for the statutory guarantees that apply to goods and services purchased by consumers (as defined in the Competition and Consumer Act 2010 (Cth) (CCA)) and any express warranties set out in this Agreement, to the extent permitted by law, each of the Vendor and the Agent disclaims and excludes all other warranties and representations in relation to the goods or services provided by it under this Agreement.</li>
                <li>To the maximum extent permitted by section 64A of the Australian Consumer Law set out in Schedule 2 of the CCA, if the goods or services provided under this Agreement are not of a kind ordinarily acquired for personal, domestic or household use or consumption, each of the Vendor and the Agent limits its liability, at its discretion:
                    <ol>
                        <li>in the case of goods to:
                            <ol>
                                <li>the replacement of the goods or the supply of equivalent goods; or</li>
                                <li>the payment of the cost of replacing the goods or of acquiring equivalent goods; or</li>
                            </ol>
                        </li>
                        <li>in the case of services to:
                            <ol>
                                <li>the supplying of the services again; or</li>
                                <li>the payment of the cost of having the services supplied again.</li>
                            </ol>
                        </li>
                    </ol>
                </li>
            </ol>
        </li>
        <li>GENERAL
            <ol>
                <li>If any covenant, undertaking or condition of this Agreement is found to be void or unenforceable at law, that covenant, undertaking or condition will not affect any other term of this Agreement and, as far as is possible, will be read down or severed to the extent required to make it enforceable. If necessary, the parties will, in good faith, negotiate a valid and enforceable replacement term to express their intention.</li>
                <li>This Agreement sets out the entire Agreement between the parties concerning all matters dealt with by it, and supersedes any prior Agreement between the parties in regard to those matters.</li>
                <li>Except as stated in this Agreement, the terms of this Agreement can be amended only in writing, signed by the parties.</li>
                <li>The waiver of a breach of any term of this Agreement will not be a waiver of any other breach of that term or the breach of any other term.</li>
                <li>This Agreement is governed by, and will be interpreted in accordance with, the laws of the State of Victoria, Australia, and the parties submit to the jurisdiction of the courts there.</li>
                <li>Other than as expressly provided for in this Agreement, no party may assign any of its rights, benefits or obligations under this Agreement without the written consent of the other parties.</li>
                <li>the Agent collects, uses, discloses and handles personal information in accordance with the Privacy Act 1988 (Cth) and its privacy principles (as amended from time to time). Please see the Agent’s Privacy Policy available on the Agent’s website for information about the Agent’s privacy processes.</li>
            </ol>
        </li>      
    </ol>
</div>