<section>
    <div class="d-flex justify-content-between flex-column flex-md-row  pt-2 px-3">
        <div class="display-name">Wool GL XML log</div>
    </div>
</section>
<div>
<div id="glxml-search">
    <div *ngIf="!isEmptyObject(filters)" class="pt-2 px-3">
        <div class="tags-list">
            <div class="tags-list-label">Selected Filter(s) :</div>
            <ul>
                <ng-container *ngFor="let item of filters | keyvalue">
                    <li *ngIf="item.key.indexOf('Advnaced_Filter') === -1">
                        <span>{{this.FilterList(item.value.GridConditions)}}</span>
                        <a href="javascript:void(0);" class="icon-close" (click)="onFilterClear(item.value.DataField, item.value.FilterType)"><i class="fas fa-times"></i></a>
                    </li>
                    <li *ngIf="item.key.indexOf('Advnaced_Filter') > -1">
                        <span>{{this.FilterList(item.value.GridConditions)}}</span>
                        <a href="javascript:void(0);" class="icon-close" (click)="onAdvancedFilterClear(item.key)"><i class="fas fa-times"></i></a>
                    </li>
                </ng-container>
            </ul>
        </div>
        <a href="javascript:void(0)" title="Clear All" style="font-size: 14px;" (click)="clear_all()">Clear All</a>
    </div>
    <div class="container pt-5">
        <div class="row">
            <div class="col-12 sales-search" [ngClass]="{'margin-top-20': !isSearched}">
                <div class="sales-search-box">
                    <div class="selectListing">
                        <div ngbDropdown>
                            <button class="btn btn-outline-primary" ngbDropdownToggle>Wool GLXML</button>
                            <ul ngbDropdownMenu aria-labelledby="dropdownCustomFilter">
                                <li ngbDropdownItem>
                                    Wool GLXML
                                </li>
                            </ul>
                        </div>
                    </div>
                    <input type="text" class="form-control sales-search-box-input shadow-none" [(ngModel)]="globalSearchValue">
                    <button class="btn btn-warning sales-search-box-btn" (click)="search()">
                        <i class="fas fa-search"></i>
                    </button>
                </div> 
            </div>
           
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="search-results" *ngIf="isSearched">
                    <div class="table-filters-group">
                        <div class="export-btns-group">
                            
                        </div>
                    </div>
                    <app-customized-grid
                        [dataSource]="dataSource"
                        [headerMap]="headerMap"
                        [itemsCount]="itemsCount"
                        [pageIndex]="pageIndex"
                        [tableCss]="true"
                        [sNo]="false"
                        (pageChange)="pageChange($event)"
                        (actionClick)="actionClick($event)"
                    ></app-customized-grid>
                </div>
            </div>
        </div>
    </div>
</div>
