
<div class="breadcrumbs">
    <a (click)="go_back()"><img src="assets/styles/images/back-icon-black.png" width="20px"><span>Announcements</span></a>
</div>

<div class="announcementHeader">
  Announcements
</div>
<form class="position-relative text-center" (ngSubmit)="globalSearch(txtGlobal.value)">
  <div class="p-2">
    <div class="wfMainGSearch">
      <div class="globalSearchWrap">
        <div class="position-relative">
          <input id="globalSearch" #txtGlobal placeholder="Global Search" type="search">
          <button aria-label="Search" class="btn-search" routerlink="" style="z-index: 1;" tabindex="0" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="table-filters-group my-1">
    <div class="p-1">
        <button class="btn btn-primary-special btn-small" type="button" [routerLink]="['/process_control/announcement/add_new']">Add New</button>
        <button class="btn btn-primary-special btn-small" type="button" (click)="genericgridcomponent.OnRemoveFilterClick();removeFilter(txtGlobal)">Remove Filter</button>
    </div>
    <div class="export-btns-group">
        <a href="javascript:void(0)" (click)="openNewExportPopup('excel')" title="Excel">
          <i class="far fa-file-excel" role="img" aria-label="Excel"></i>Excel
        </a>
        <a href="javascript:void(0)" (click)="openNewExportPopup('pdf')" title="PDF">
          <i class="far fa-file-pdf" role="img" aria-label="PDF"></i>PDF
        </a>
        <a href="javascript:void(0)" onclick="window.print();return false;" title="Print">
          <i class="fas fa-print" role="img" aria-label="Print"></i>Print
        </a>
    </div>
</div>
<generic-grid
    [FromDateobj]="FromDateobj"
    [ToDateobj]="ToDateobj"
    [filterValue1]="filterValue1"
    [filterValue2]="filterValue2"
    [ConditionOpt1]="ConditionOpt1"
    [ConditionOpt2]="ConditionOpt2"
    [logicalOpt]="logicalOpt"
    [dataSource]="dataSource"
    [headerMap]="HeaderMap"
    [itemsCount]="itemsCount"
    [sNo]="false"
    (pageChange)="pageChange($event)"
    (actionClick)="actionClick($event)"
    #genericgridcomponent>
</generic-grid>