.drow {
    clear: both;
    padding: 1rem!important;
  }
  .dcolumns {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    vertical-align: top;
    box-sizing: border-box;
    width: 50%;
  }
  button {
    font-size: 12px;
}